.block_ {
  display: block;
  font-style: italic;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_1 {
  display: block;
  font-family: "Georgia", serif;
  font-size: 0.83333em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_2 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_3 {
  display: block;
  font-size: 0.83333em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_4 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_5 {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 0.83333em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_6 {
  display: block;
  font-family: "Georgia", serif;
  font-size: 0.83333em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_7 {
  display: block;
  font-family: "Georgia", serif;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_8 {
  display: block;
  font-family: "Calibri", serif;
  font-size: 1.33333em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
}
.block_9 {
  color: black;
  display: block;
  font-size: 0.83333em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_10 {
  color: black;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_12 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_13 {
  display: block;
  font-family: "Georgia", serif;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_14 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_15 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 36pt;
}
.block_16 {
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_17 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 36pt;
}
.block_18 {
  display: block;
  font-family: "Georgia", serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_19 {
  color: black;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_20 {
  color: black;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 36pt;
}
.block_21 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_22 {
  display: block;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_23 {
  display: block;
  font-family: "Calibri", serif;
  font-size: 1.16667em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_24 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_25 {
  display: block;
  font-family: "Calibri", serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: left;
}
.block_26 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 31.5pt;
}
.block_27 {
  display: block;
  font-size: 1.66667em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_28 {
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 36pt;
}
.block_29 {
  display: block;
  font-family: "Cambria", serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_30 {
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 36pt;
}
.block_32 {
  display: block;
  font-family: "Calibri", serif;
  font-size: 1.16667em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: left;
}
.block_33 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 36pt;
}
.block_34 {
  display: block;
  font-size: 0.83333em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_35 {
  display: block;
  font-family: serif;
  font-size: 1.16667em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: left;
}
.block_36 {
  color: black;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_37 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_38 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 4.5pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 36pt;
}
.block_39 {
  display: block;
  font-family: "Georgia", serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 4.5pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_40 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 36pt;
}
.block_41 {
  display: block;
  font-family: "Calibri", serif;
  font-size: 1.16667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
}
.block_42 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: left;
}
.block_43 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: left;
}
.block_44 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 31.5pt;
}
.block_45 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_46 {
  display: block;
  font-family: "Georgia", serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_47 {
  color: black;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 31.5pt;
}
.block_48 {
  background-color: #FFF;
  display: block;
  font-family: "Georgia", serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_49 {
  display: block;
  font-family: "Monotype Corsiva", cursive;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.block_50 {
  display: block;
  font-family: "Calibri", serif;
  font-size: 1.16667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: justify;
}
.block_51 {
  color: black;
  display: block;
  font-family: "Calibri", serif;
  font-size: 1.16667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: justify;
}
.block_52 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: justify;
}
.block_53 {
  color: black;
  display: block;
  font-family: "Calibri", serif;
  font-size: 1.16667em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: justify;
}
.calibre {
  color: #000;
  display: block;
  font-family: "Baskerville", serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  height: auto;
  width: 100%;
}
.calibre3 {
  display: block;
}
.calibre4 {
  font-weight: bold;
}
.calibre5 {
  display: block;
  line-height: 1.2;
}
.calibre6 {
  text-decoration: none;
}
.calibre7 {
  display: block;
  line-height: 1.2;
}
.calibre8 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre9 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre10 {
  line-height: 1.2;
}
.calibre11 {
  font-style: italic;
  line-height: 1.2;
}
.calibre12 {
  height: auto;
  width: 100%;
}
.calibre13 {
  height: 217pt;
  width: 326pt;
}
.calibre14 {
  height: auto;
  width: 100%;
}
.calibre15 {
  height: auto;
  width: 100%;
}
.calibre16 {
  height: auto;
  width: 100%;
}
.calibre17 {
  height: auto;
  width: 100%;
}
.tab {
  white-space: pre-wrap;
}
.text_ {
  font-family: "Georgia", serif;
  font-size: 1em;
}
.text_1 {
  font-family: "Baskerville", serif;
  font-size: 1em;
}
.text_2 {
  font-family: "Baskerville", serif;
  font-size: 1em;
  font-weight: bold;
}
.text_3 {
  font-size: 1.2em;
}
.text_4 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
}
.text_5 {
  color: #000;
}
.text_6 {
  color: #000;
  text-decoration: none;
}
.text_7 {
  color: #000;
  font-size: 1em;
}
.text_8 {
  color: #000;
  font-size: 1.2em;
}
.text_9 {
  color: black;
  text-decoration: none;
}
.text_10 {
  color: black;
  font-size: 1.2em;
}
.text_11 {
  color: black;
  font-size: 1em;
  text-decoration: none;
}
.text_12 {
  color: #000;
  font-family: "Baskerville", serif;
  font-size: 1em;
}
.text_13 {
  color: #000;
  font-family: "Georgia", serif;
  font-size: 1.4em;
  line-height: 1.2;
}
.text_14 {
  font-family: "Baskerville", serif;
  line-height: 1.2;
}
.text_15 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}
.text_16 {
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.2;
}
.text_17 {
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  line-height: 1.2;
}
.text_18 {
  font-family: "Georgia", serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
}
.text_19 {
  color: #000;
  font-family: "Georgia", serif;
  line-height: 1.2;
}
.text_20 {
  color: #000;
  font-family: "Baskerville", serif;
  line-height: 1.2;
}
.text_21 {
  color: black;
  font-family: "Baskerville", serif;
  line-height: 1.2;
  text-decoration: none;
}
.text_22 {
  color: #000;
  line-height: 1.2;
}
.text_23 {
  color: #000;
  font-style: italic;
  line-height: 1.2;
}
.text_24 {
  color: black;
  line-height: 1.2;
  text-decoration: none;
}
.text_25 {
  font-family: "Baskerville", serif;
  font-weight: bold;
  line-height: 1.2;
}
.text_26 {
  font-family: "Georgia", serif;
  font-weight: bold;
  line-height: 1.2;
}
.text_27 {
  color: #000;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}
.text_28 {
  font-family: "Georgia", serif;
  line-height: 1.2;
}
.text_29 {
  font-family: "Helvetica", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.text_30 {
  font-family: "Helvetica", serif;
  font-size: 1em;
  font-style: italic;
  line-height: 1.2;
}
.text_31 {
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.text_32 {
  font-family: "Georgia", serif;
  font-size: 1.2em;
  line-height: 1.2;
}
.text_33 {
  font-family: "Calibri", serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.text_34 {
  font-family: "Calibri", serif;
 font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2;
}
.text_35 {
  font-family: "Georgia", serif;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.2;
}
.text_36 {
  color: #000;
  font-family: "Georgia", serif;
  font-size: 1.2em;
  line-height: 1.2;
}
.text_37 {
  color: #000;
  font-family: "Calibri", serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
}
.text_38 {
  color: #000;
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  line-height: 1.2;
}
.text_39 {
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  line-height: 1.2;
  text-decoration: none;
}
.text_40 {
  font-family: "Cambria", serif;
  line-height: 1.2;
}
.text_41 {
  color: #000;
  font-family: "Georgia", serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.text_42 {
  font-family: "Baskerville", serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
}
.text_43 {
  color: #000;
  line-height: 1.2;
  text-decoration: none;
}
.text_44 {
  font-family: "Calibri", serif;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.text_45 {
  font-family: "Baskerville", serif;
  font-style: italic;
  line-height: 1.2;
}
.text_46 {
  color: #000;
  font-family: "Calibri", serif;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.text_47 {
  color: #000;
  font-family: "Georgia", serif;
  font-weight: bold;
  line-height: 1.2;
}
.text_48 {
  font-family: "Calibri", serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.text_49 {
  font-family: "Georgia", serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.text_50 {
  font-family: "Calibri", serif;
  font-weight: bold;
  line-height: 1.2;
}
.text_51 {
  font-family: "Helvetica", serif;
  font-size: 1em;
  line-height: 1.2;
}
.text_52 {
  font-family: "Helvetica", serif;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.2;
}
.text_53 {
  color: black;
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  line-height: 1.2;
}
.text_54 {
  background-color: #FFF;
  font-family: "Georgia", serif;
  font-size: 1em;
  line-height: 1.2;
}
.text_55 {
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  line-height: normal;
  vertical-align: top;
}
.text_56 {
  font-family: "Calibri", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.text_57 {
  color: #000;
  font-family: "Baskerville", serif;
  line-height: 1.2;
  text-decoration: none;
}
.text_58 {
  color: #000;
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  line-height: 1.2;
  text-decoration: none;
}
.text_59 {
  font-family: "Baskerville", serif;
  font-size: 1em;
  line-height: 1.2;
}
.text_60 {
  color: #000;
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.2;
}
.text_61 {
  color: #4F81BD;
  font-family: "Calibri", serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
}
.text_62 {
  color: #4F81BD;
  font-family: "Arial", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
}
.text_63 {
  font-family: "Times New Roman", serif;
  line-height: 1.2;
}
.text_64 {
  color: black;
  font-family: "Calibri", serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
}
.text_65 {
  color: #000;
  font-family: "Baskerville", serif;
  font-size: 1.2em;
}
.text_66 {
  color: #4F81BD;
  font-weight: bold;
  line-height: 1.2;
}
.text_67 {
  color: #000;
  font-weight: bold;
  line-height: 1.2;
}
.text_68 {
  font-family: "Times", serif;
  font-size: 1em;
  line-height: 1.2;
}
.text_69 {
  background-color: #FFF;
  line-height: 1.2;
}
.text_70 {
  background-color: #FAFAFA;
  color: #000;
  line-height: 1.2;
}
.text_71 {
  color: #000;
  font-family: "Calibri", serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
}
.text_72 {
  background-color: #FFF;
  color: #000;
  font-family: "Baskerville", serif;
  font-size: 1.2em;
  line-height: 1.2;
}
