/*CSS重置*/
* ｛
     margin:0px;                   /*边距*/
	padding:0px;                  /*填充*/
	border:none;                  /*表格*/
｝

ul,ol {
    list-style:none;
}

a{
    text-decoration:none;
}
b{
     color: #1C1C1C;
}
/*定宽*/
.wrap {
    max-width:40em;                /*最大40字符*/
    margin:0 auto;                 /*居中*/
}

/* 封面 */ 
img.cover {
    text-align: center;
    duokan-text-indent: 0em;
    text-indent: 0em;
    margin: 0px;
    width: 100%;
}


body {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    line-height: 100%;
    text-align: justify;
/*	font-family:"zhongdeng","宋体";*/
}

div {
    padding: 0px;
    line-height: 100%;
    text-align: justify;
}

p {
   text-align: justify;
   text-indent: 2em;
   line-height: 110%;
    margin-top: 0;
    margin-bottom: 0.5em;
}


h1 {
    line-height: 130%;
	color:#CC0000;
    text-align: center;
    font-weight: bold;
    font-size: 2.1em;
    font-family: "biaosong","ht";
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
 /*   margin-top: 30%;*/
   /* text-shadow: 1px 1px 1px #000;*/
}

h2 {
    line-height: 120%;
    text-align: center;
    font-size: 1.8em;
    font-family: "qk","biaosong","ht";
    color: #fb8991;
    margin-top: 10%;
    margin-bottom: 1.3em;
    /*padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: url(../Images/zhanghui.png);
    background-repeat: no-repeat no-repeat;
    background-position: center;
    background-size: 100px 40px;
    */;
}

h3 {
    line-height: 100%;
    font-size: 1.3em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    color: #aC402a;
    margin-top: 8%;
    margin-bottom: 1.4em;
    text-align: left;
}

h4 {
    line-height: 130%;
    text-align: left;
    font-size: 1.2em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    margin-top: 1.4em;
    margin-bottom: 0.8em;
    color: #a6ab71;
}

h5 {
    line-height: 130%;
    font-size: 1.05em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    margin: 1em 0 0.8em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #1c6f84;
    text-align: center;
}

h6 {
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    text-align: left;
    font-weight: bold;
    font-size: 0.95em;
}

/*链接*/
a {
    text-decoration: none;
 	font-weight:normal;
	color:#808080;

}

.jianjie {
    font-family: "仿宋","kt","biaosong";
}

li {
    font-family: biaosong;
    color: #575E42;

}

blockquote {
    font-family: "仿宋","kt","楷体","楷体_gb2312","zw",serif;
	margin-bottom:1em;
	color: #7d3e14;
}

/* 正文 */
p.text {
    font-family: "DK-SONGTI","宋体","华文中宋";
    border: 0;
    font-size: 16px;
    display: block;
    text-indent: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 130%;
}
p.center {
  text-align: center;
    text-indent: 0em;
}

blockquote .text {
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
    margin: 0.2em 0em 0.2em 0em;
    font-size: 1.0em;
    text-indent: 2em;
    line-height: 1;
	color: #7d3e14;
}

    /* 正文无缩进 */
p.noindent {
    font-family: "DK-SONGTI","宋体","华文中宋";
    border: 0;
    font-size: 16px;
    display: block;
    text-indent: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 130%;
}

/*代码*/
p.code {
    font-family: "Consolas", "Courier New", "Courier",monospace,"DK-FANGSONG","仿宋","仿宋_gb2312";
    background-color: seashell;
    margin: 0em 1em 0em 2em;
}

p.code-title {
    font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
    background-color: seashell;
    margin: 0em 1em 0em 2em;
    border-style: none none solid none;
    border-width: 0px 0px 2px 0px;
    border-color: #CCCC00;
}

/*封面*/
img.cover {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0px;
}

/*版权页*/
body.copyright {
    font-family: "DK-HEITI","黑体",sans-serif;
    margin: 0;
    padding: 0;
}

h1.copyright-title {
    font-family: "DK-HEITI","黑体",sans-serif;
    font-size: 1.2em;
    margin: 3em 0 1.5em 0;
    padding: 0;
    text-align: center;
    border: none;
    color: #2b271e;
}

p.copyright-text {
    font-family: "DK-HEITI","黑体", sans-serif;
    font-size: 0.9em;
    text-indent: 0em;
    margin: 0.3em 0.3em;
    text-align: left;
    border-left: #2b271e solid 0.2em;
    padding-left: 0.6em;
}

/*背景图*/
/*背景 */
body.back {
    background-image: url(../Images/back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: top center;
}

/*前言正文、后记正文*/
p.preface, .postscript {
    text-indent: 2em;
    font-family: "DK-FANGSONG","仿宋","仿宋_gb2312","DK-SONGTI",serif;
    line-height: 100%;
    margin: 0.3em 0em;
}

/*前言正文、后记正文*/
p.preface1 {
    text-indent: 2em;
    font-family: "DK-FANGSONG","仿宋","仿宋_gb2312","DK-SONGTI",serif;
    line-height: 100%;
    margin: 0.3em 0em;
		color:#460023;
}

h1.prefacetitle {
    color: black;
    margin: 0;
    line-height: 100%;
    text-align: justify;
    border-style: none none none none;
    border-width: 0px 0px 0px 0px;
    padding: 1em 0px 5px 0px;
    font-weight: bold;
    font-size: 1.35em;
    text-align: center;
    font-family: "方正大标宋_GBK","方正大标宋简体","DK-XIAOBIAOSONG","DK-HEITI","DK-SONGTI";
}

/*标题1*/
h1.chapter-title1 {
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,.2));
    text-align: right;
    color: #2b271e;
    font-size: 1.4em;
    line-height: 130%;
    border-width: 0.1em;
    border-style: none solid none none;
    border-color: black;
    margin: 15% 0.4em 2em 0;
    padding: 0 0.4em 0 0;
    text-indent: 0em;
	font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
}

span.h1pre {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-size: 0.70em;
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
}

body.h1back {
    background-color: #FFF5EE;
}

p.h1note {
    clear: both;
    margin: 0 2em;
    padding: 0;
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
    line-height: 110%;
}

span.h1num {
    font-style: italic;
    font-size: 2em;
    font-family: "DK-HEITI","黑体", sans-serif;
}

/*标题2*/
h2.chapter-title2 {
    line-height: 100%;
    text-align: center;
    margin: 0.2em auto 1.5em auto;
    padding: 0;
    font-weight: bold;
    font-size: 1.3em;
    font-family: "DK-DABIAOSONG","方正大标宋_GBK","方正大标宋简体","方正大标宋繁体";
}

/*副标题*/
p.h2sub {
    margin: 0 0 0 0;
    line-height: 100%;
    text-align: center;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 1em;
    font-family: "DK-HEITI","幼圆","微软雅黑","黑体","DK-SONGTI";
}
/*副标题*/
h2.h2sub {
    margin: 0 0 2em 0;
    line-height: 100%;
    text-align: center;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 1em;
    font-family: "DK-HEITI","幼圆","微软雅黑","黑体","DK-SONGTI";
}
p.h2note {
    font-style: italic;
    padding: 1em;
    margin: 1em 0 1em 0;
    font-size: 1.2em;
    text-align: center;
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI";
}

/*标题3*/
h3.chapter-title3 {
    margin: 0;
    line-height: 100%;
    text-align: left;
    padding: 0.5em 5px 0.5em 5px;
    font-weight: bold;
    font-size: 1.1em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
}

p.h3note {
    margin: 0 0 0 4em;
    border-style: none none none solid;
    border-width: 0px 0px 0px 10px;
    border-color: lightpink;
    color: darkred;
    font-family: "DK-FANGSONG","仿宋","仿宋_gb2312","DK-SONGTI";
    font-size: 90%;
}

/*标题4*/
h4.chapter-title4 {
    color: #000066;
    line-height: 130%;
    text-align: justify;
    font-weight: bold;
    font-size: 1em;
    font-family: "DK-HEITI","幼圆","微软雅黑","黑体","DK-SONGTI";
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*作者*/
p.author {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    line-height: 100%;
    text-align: center;
    font-weight: normal;
    font-size: medium;
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI";
}

/*插文*/
p.box {
    margin-left: 1em;
    margin-right: 1em;
    line-height: 100%;
    font-family: "DK-FANGSONG","仿宋","仿宋_gb2312","DK-SONGTI";
    font-size: 90%;
    color: darkblue;
}

	
/*插文标题（文内标题*/
p.boxtitle {
    margin: 1.3em 1em 0.3em 1em;
    font-size: 0.9em;
    text-indent: 0em;
    /*font-weight: bold;*/
    text-align: left;
    line-height: 110%;
    font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
}

/*引用*/
p.quote {
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
    margin: 0.2em 0em 0.2em 0em;
    font-size: 1.0em;
    text-indent: 0em;
    line-height: 1;
}

/*诗歌*/
p.poems {
    text-align: center;
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
    margin: 0em 1em 0em 2em;
    font-size: 1.0em;
    text-indent: 0em;
    line-height: 1;
}
/*诗歌*/
p.poems1 {
    text-align: left;
    margin: 1.5em 0em;
    font-size: 1.1em;
    line-height: 1;
    /*color: #483D8B;*/
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	color: #191970;
}

/*左侧题头*/
p.leftquote {
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
    margin: 0em 0em 0.5em 0em;
    font-size: 1.0em;
    text-indent: 0em;
    line-height: 1;
    text-align: left;
}

/*引用标题*/
p.quotetitle {
    margin-left: 2em;
    margin-right: 1em;
    border-style: none none solid none;
    border-width: 0px 0px 2px 0px;
    border-color: #CCCC00;
    text-align: justify;
    font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
}

/*落款*/
p.signature {
    margin: 0.5em 0em 0.5em 0em;
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
    text-align: right;
	color:#065088;
}
/*落款1*/
p.signature1 {
    margin: 0.5em 0em 1em 0em;
	font-family:"DK-XIHEITI";        /*多看细黑体*/
    text-align: right;
    color: #6fb67c;

}

/*文本框、图文框*/
p.textbox {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid double solid solid;
    border-width: 1px 3px 1px 5px;
    border-color: #CCCC00;
    text-align: justify;
    color: darkblue;
    background-color: #eeffbb;
}

	
/*文本框、图文框标题*/
p.textboxtitle {
    margin-left: 1em;
    margin-right: 1em;
    border-style: none none solid none;
    border-width: 0px 0px 2px 5px;
    border-color: #CCCC00;
    font-family: "h1","方正兰亭特黑长_GBK","方正兰亭特黑长简体","方正兰亭特黑长繁体","微软雅黑","黑体","DK-SONGTI";
}

 /*以图代字*/
img.tpzz {
    height: 1em;
    vertical-align: text-bottom;
    width: auto;
}

/*图片平铺*/
img.image {
    text-align: center;
    text-indent: 0em;
    line-height: 1.3;
    margin: 0em 0;
    width: 100%;
}
p.image {
    text-align: center;
    text-indent: 0em;
    line-height: 1.3;
    margin: 0em 0;
    width: 100%;
}
/*图片居中*/
p.imageh {
    text-align: center;
    text-indent: 0em;
    line-height: 1.3;
    margin: 0.2em auto;
    width: 60%;
}

/*清除浮动*/
p.clear {
    clear: both;
    margin: 0;
    margin-bottom: 0.6em;
}

/*清除浮动*/
h5.clear {
    clear: both;
}

/*图片说明*/
p.imagenote {
    margin-top: 0em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    text-align: center;
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
    font-size: 1em;
    text-indent: 0em!important;
}
#name td{
	border:0;
}
td.td{

	border-top-width:1px;
	border-bottom-width:1px;
	font-family:"DK-XIHEITI";        /*多看细黑体*/
	padding:0.2em;
}

/*表格*/
div.table{
	margin: 0.5em 0em 0.5em 0em;
	padding:0.2em 2em;
}

table td{
	padding:0.1em;
	margin: 0em;
	font-size: 0.8em;
	border-top-width:0px;
	border-left-width:0;
	border-right-width:0;
	border-bottom-width:0px;
	border-color:#000;
	border-style:solid;
}
td.td-t1{
	border-top-width:1px;
}
td.td-t2{
	border-top-width:1px;
	border-bottom-width:1px;
}
td.td-t3{
	border-bottom-width:1px;
}
td.td-t4{
	border-left-width:1px;
}
td.td-t{
	border-top-width:1px;
	border-left-width:1px;
}
td.td-b{
	border-bottom-width:1px;
	border-left-width:1px;
}
td.td-tb{
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
}
/*表格：表格标题*/
p.tdtitle {
    padding: 0.5em;
    width: 99%;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif,"DK-HEITI","微软雅黑","黑体";
    font-size: 90%;
}

/*表格：行头*/
th, td.h {
    font-size: 93%;
    padding-top: 5px;
    padding-bottom: 4px;
    border: 1px solid black;
    font-family: Verdana, Geneva, sans-serif,"DK-HEITI","微软雅黑","黑体";
}

/*表格：间隔行*/
tr.alt {
    color: #000000;
}

td {
    /*color: #000000;
    border: 1px solid black;*/
}

td.hh {
    width: 4em;
}

td.hhh {
    width: 5em;
}
td.pad {
	padding-top:0.8em;
	padding-bottom:0.8em;
	font-size: 0.8em;
}
span.small {
    /* 小字 */
	font-size: 0.9em;
}

span.big {
    /* 大字 */
	font-size: 1.1em;
}

/*文内黑体*/
span.strong {
    font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
    font-weight: bold;
}

/*文内楷体*/
span.em {
    font-family: "DK-KAITI","楷体","楷体_gb2312","DK-SONGTI",serif;
}

/*边框*/
p.boder {
    margin: 1em 10% 1em 10%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

/* 多看注 */
img.duokan-footnote {
    width: 0.8em;
}

/*弹注中图左浮*/
img.left
{
   float:left;
   width:160px;
    margin-left: 0.5em;
   padding-left:1em;
   padding-right:2em;
}

/* 注释条目*/
li.duokan-footnote-item {
    font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
    text-align: left;
    font-size: 1em;
    line-height: 1.2;
    padding: 5px 0px;
}

a.duokan-footnote-link {
    /*color: black!important;*/
    text-decoration: none;
	color: #360e30;
}

p.footnote-text {
    font-size: 0.92em;
    font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
    /*text-align: left; /*左对齐*/
    text-align: justify; /*两端对齐*/
    margin: 0;
    line-height: 1.2; /*行高*/
	color: #360e30;
    /*text-indent: 0; /*如果你是使用单标签p来设置正文格式，需要添加这个声明去除首行缩进*/
}

/*多看注释盒子*/
ol.duokan-footnote-content {
    border-top: 1px #000 solid; /*模拟纸书，在第1个注释上面添加一条横线，以与正文隔开*/
    margin-top: 1.5em; /*注释内容与正文的间距*/
}

p.tc-separate {
    margin-top: 1.5em;
}

/* 图片居中15%宽度 */
div.duokan-center15 {
	width: 15%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中30%宽度 */
div.duokan-center30 {
	width: 30%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中35%宽度 */
div.duokan-center35 {
	width: 35%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中45%宽度 */
div.duokan-center45 {
	width: 45%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中60%宽度 */
div.duokan-center60 {
	width: 60%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中80%宽度 */
div.duokan-center80 {
	width: 80%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 引文楷体顶格 */
p.letter-head {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 16px;
	duokan-text-indent: 0em;
	text-indent: 0em;
	color: #4a250d;
}

/*引用*/
.qu{
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	color: #182808;
	font-size: 0.98em;
	margin:0 0 0 2em;
	text-indent: 2em;             /*文本缩进*/
	margin-top: 1.8px;
	margin-bottom:1.5em;           /*下边距*/
}

/*引用*/
.qu1{
	font-family:"kt","楷体","楷体_gb2312","zw",serif, monospace;
	color: #37376f;
	font-size: 0.98em;
	margin: 0em 0 0em 2em;
        padding: 0.5em 0.1em 0.5em 0.1em;    /*留白*/ 
	text-indent: 2em;             /*文本缩进*/
	margin-top: 1.8px;
}
/*引用*/

.qu2,.qu2-o,.qu2-m,.qu2-b {
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	color: darkblue;
	margin:0 0 0 2em;
	font-size: 0.95em;
	text-indent: 2em;             /*文本缩进*/
}
.qu2 {
	margin-top: 1.2em;
	margin-bottom: 1.2em; 
}
.qu2-o {
	margin-top: 1.2em;
	margin-bottom: 0em; 
}
.qu2-m {
	margin-top: 0.3em;
	margin-bottom: 0em; 
}
.qu2-b {
	margin-top: 0.3em;
	margin-bottom: 1.2em; 
}


/*引用*/
div.quote-b{
	margin:0.5em 0 0.5em 0em;        /*上 右 下 左*/
	/*border-style: none none none none;*/
	border-width: 0px 1px 0px 5px;
        border-top: double 0.2em;
        border-bottom: double 0.2em;
	    border-color: #1C1C1C;    /*边框*/
        padding: 0.3em 0.1em 0.3em 0.1em;    /*留白*/  
	line-height: 100%;
	text-align: justify;
	font-size:1em;
     color: #1C1C1C;
     background-color: #FAF0E6;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
}
/*引用*/
div.quote{
	margin:0.5em 0 0.5em 2em;        /*上 右 下 左*/
	border-width: 0px 1px 0px 5px;
        border-top: solid 1px;
        border-bottom: solid 1px;
	    border-color: #1C1C1C;    /*边框*/
        padding: 1em 0.1em 0.3em 0.1em;    /*留白*/  
	line-height: 100%;
	text-align: justify;
	font-size:1em;
     color: #1C1C1C;
     background-color: #FAF0E6;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
}

div.quote b, div.quote-b b {
    font-family: "DK-HEITI","黑体", sans-serif;
}

 div.quote h6 {
    font-family: "DK-HEITI","黑体", sans-serif;

}


/*引用*/
.quote1{
	margin:0.5em 0 0 2em;        /*上 右 下 左*/
	/*border-style: none none none none;*/
	border-width: 0px 1px 0px 5px;
        border-top: double 0.2em;
        border-bottom: double 0.2em;
	    border-color: #CCCC00;    /*黄色边框*/
        padding: 0.3em 0.1em 0.3em 0.1em;    /*留白*/  
	line-height: 100%;
	text-align: justify;
	font-size:95%;
     color: #483D8B;
     background-color: #F0FFF0;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
}



/* 图注居中 */
p.duokan-note2 {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 14px;
	text-align: center;
     color: #191970;
}

/*背景色*/
.bjqs {
    background-color: #f3edd8;
}
.bjqs1 {
    background-color: #3f48cc;
}
/* 正文 */
p.text1 {
    font-family: "DK-SONGTI","宋体","华文中宋";
    border: 0;
    font-size: 1.1em;
    text-indent: 2em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 130%;
	color: #ffffff;
    font-weight: bold;
}
/* 正文 */
p.text2 {
    font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
    border: 0;
    font-size: 1em;
    text-indent: 2em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    line-height: 130%;
	color: #ea7600;
    font-weight: bold;
    text-align: right;
}

.text3 {
	font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
     color: #4a4266;
     font-size: 1em;
}
.text03 {
	font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
     color: #1C1C1C;
     font-size: 1.5em;
}
.text04 {
	font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
     color: #a30e5a;
     font-size: 2.2em;
}
.text5 {
    font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
    color: #1C1C1C;
    font-size: 1.1em;
    /*font-weight: bold;*/
}
/*版权页*/
.c {
  font-family: kaiti;
  text-indent: 0;
  margin: 0.3em 0.3em;
  text-align: left;
  border-left: #000 solid 0.2em;
  padding-left: 0.6em;
  font-size: 1em;
  line-height: 1.2em;
}

h4.c {
  font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
  text-indent: 0;
  margin: 2em 1.5em;
  text-align: left;
  border-left: #000 solid 0em;
  padding-left: 0em;
  font-size: 1.5em;
  line-height: 1.2em;
  color: #ffffff;
}

/*版权页*/
.bq {
    font-family: "DK-HEITI","微软雅黑","黑体","DK-SONGTI";
  text-indent: 0;
  margin: 0.3em 0.3em;
  text-align: left;
  border-left: #000 solid 0.2em;
  padding-left: 0.6em;
  font-size: 1em;
  line-height: 1.2em;
  color: #ffffff;
}
/*背景图*/
.BeiJing{
    background-size:100% 100%;          /*规定背景图片的尺寸*/
    background-position:center;     /*设置背景图像的开始位置*/
    background-repeat: no-repeat;   /*设置是否及如何重复背景图像*/
    left:0;
    top:0;
   /* width:100%;
    height:100%;*/
}


/*图片居中*/
img.imageh1 {
    text-align: center;
    text-indent: 0em;
    line-height: 1.3;
    margin: 0.2em auto;
    width: 25%;
}
/* 图片居中15%宽度 */
div.duokan-center15 {
	width: 15%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中30%宽度 */
div.duokan-center30 {
	width: 30%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中35%宽度 */
div.duokan-center35 {
	width: 35%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中45%宽度 */
div.duokan-center45 {
	width: 45%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中60%宽度 */
div.duokan-center60 {
	width: 60%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中80%宽度 */
div.duokan-center80 {
	width: 80%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中90%宽度 */
div.duokan-center90 {
	width: 90%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/* 图片居中100%宽度 */
div.duokan-center {
	width: 100%;
	margin: 20% auto 1em auto;
	text-align: center;
}
/* 图片居中100%宽度 */
div.duokan-center1 {
	width: 100%;
	margin: 1em auto 1em auto;
	text-align: center;
}
/*--图片--*/   
img.pic-img  
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
          width: 100%;
   }
img.pic-img-w20 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 20%;
   }
img.pic-img-w25 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 25%;
   } 
   
img.pic-img-w30 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 30%;
   } 
img.pic-img-w30-r
   {
    margin: 0em;
    padding: 0em;
    text-align: right;
    vertical-align: middle;
    margin-left: 0em;
    width: 30%;
} 
img.pic-img-w35 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 35%;
   } 
img.pic-img-w40 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 40%;
   } 
img.pic-img-w45 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 45%;       
   } 
img.pic-img-w50 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 50%;
   } 
img.pic-img-w25-r 
   {
    margin-top: -0.1em;
    margin-bottom: 0em;
    text-align: right;
    vertical-align: top;
    margin-left: 0em;
    margin-right: -0.1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
    width: 25%;
}
img.pic-img-w55 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 55%;
   } 
img.pic-img-w60 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 60%;
   } 

img.pic-img-w61
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
          width: 15%;
} 


img.pic-img-w65 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 65%;
   } 
img.pic-img-w70 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 70%;
   } 
img.pic-img-w75 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 75%;
   }    
img.pic-img-w80 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 80%;
   }    
   
img.pic-img-w85 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 85%;
   } 
img.pic-img-w90 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 90%;
   }    
img.pic-img-w95 
   {
          margin: 0em;
          padding: 0em;
          text-align: center;
          vertical-align: middle;
          margin-left: 0em;
		  width: 95%;
   } 

/*标题3*/
h3.chapter-title3-1 {
    margin: 0;
    line-height: 100%;
    text-align: center;
    padding: 0.5em 5px 0.5em 5px;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
}

.text001 {
    font-size: 0.8em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    color:#ff6666;
}

.text {
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
    color:#004040;
}
/*copyrighte用*/
.text-c {
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    color:#F04040;
}
.text1 {
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
    color:#004080;
}

.tr001 {
    margin-top: 15em;
   font-size: 1em; 
   margin-bottom: 0; 
   text-align: justify; 
   text-indent: 2em;
}

.text4 {
    font-size: 0.96em;
    color: #1F0F4F;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
}

.dropcaps {
    font-weight: normal;
    font-size: 200%;
   /* float: left;*/
    margin-top: 10%;
    margin-bottom: 0;
    margin-left:0; 
    color: #004080;
}

.zongxu{
		font-family:"ht","黑体";
		font-size:1.4em;
		color:#fff;
		border-radius:0.2em;
		background-color:#C3914E;
		width:3em;
		padding:0.1em;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
}

/* 图片居中90%宽度 */
div.duokan-center80-1 {
	width: 80%;
	margin: 1em auto 1em auto;
	text-align: left;
    margin-left:35%; 
}

img.imageh2 {
    text-align: left;
    text-indent: 0em;
    line-height: 1.3;
    margin: 0.2em -2em;
    width: 30%;
}

.title01 {
    margin-top: 25%;
    margin-bottom: 0;
    border-style: none solid none none;
    border-width: 50px;
    border-color: #8f7914;
    font-size: 2.0em;
    line-height: 130%;
    text-align: right;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
}
.title02 {
    margin-top: 0;
    border-style: none solid none none;
    border-width: 50px;
    border-color: #8f7914;
    page-break-after: always;
    font-size: large;
    line-height: 130%;
    text-align: right;
         /* margin-top: 0em;*/
          margin-bottom: 2.5em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    color: #414e7b;
}

.h6{
	float:right;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	text-align:right;
	width:100%;
	color: #369;
	font-size:1.2em;
	font-weight:bold;
	line-height:100%;
	margin:0 0 5em 0;
	padding:0;
}
.h6 b{
	font-family:"方正黑体_GBK";
	text-align:right;
	font-size:0.7em;
	color: #666;
	margin:0;
	padding:0;
}
.h5{
	float:right;
	font-family:"方正黑体_GBK";
	font-size:3em;
	text-align:center;
	color: #030609;
	width:1.25em;
	height:1.1em;
	background-color:#369;
	color:#ffffff;
	line-height:1.1em;
	margin:0;
	padding:0;
}

.h2 b{
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	text-align:right;
    color: #781228;
	font-size:1.65em;
	margin:0;
	padding:0;
}

/*诗*/
div.poem{
	color: #528B8B;
	/*padding: 0.1em 0.1em;*/
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	font-size: 1em;
    text-shadow:0.2px 0px 0.2px #CCCCCC;
}

.tr-01 {
   margin-top: 10%;

}
.tr-02 {
   margin-top: 45%;
   margin-bottom: 0%; 
}
.tr-03 {
   margin-top: -0.1em;
   margin-bottom: 20%; 
	margin-right: -0.1em;
}

/*诗行距调节*/
.tr {
   margin-top: 0.8em;
   margin-bottom: 0.8em; 
}
/*诗行距调节*/
.tr-o {
   margin-top: 0.8em;
   margin-bottom: 0em; 
}
/*诗行距调节*/
.tr-m {
   margin-top: 0.3em;
   margin-bottom: 0em; 
/*诗行距调节*/
}
.tr-b {
   margin-top: 0.3em;
   margin-bottom: 0.8em; 
}
/*诗行距调节*/
.tr-b1 {
   margin-top: 0.3em;
   margin-bottom: 0.3em; 
}
/*诗行右注*/
.tr-z {
   margin-top: 0.3em;
   margin-bottom: 1.5em; 
	text-align: right;
}


 /*以图分割线*/
img.fgx {
    height: 1.5em;
    width: auto;
}

/*标题2*/
h2.h2 {
    line-height: 120%;
    text-align: right;
    padding: 0.5em 5px 0.5em 5px;
    font-size: 1.6em;
    margin-top: 30%;
    margin-bottom: 2em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    text-indent: 0;
    margin-left: 35%;
    text-align: right;
    color:  #369;
    border-width: 0.1em;
    border-style: none solid none none;
    border-color: #369;
}

/*标题2*/
span.h2-1 {
   /* font-size: 70%;*/
		color:#ffffff;
		border-radius:0.2em;
		background-color: #6fb67c;
		width:3em;
		padding: 0.3em 0.8em 0.3em 0.8em; /* 上，右，下，左*/
		margin-left:auto;
		margin-right:auto;
}

/*标题2*/
span.h2-3 {
    font-size: 110%;
		color:#fff;
		/*border-radius:0.2em;*/
		background-color:#000000;
		width:3em;
		padding:0.1em 0.6em 0.1em 0.6em;
		margin-left:auto;
		margin-right:auto;
    font-family: "h1","方正兰亭特黑长_GBK","方正兰亭特黑长简体","方正兰亭特黑长繁体","微软雅黑","黑体","DK-SONGTI";
}
span.h5-1 {
    font-size: 100%;
    border-width: 0.1em;
    border-style: none none solid none;
    border-color: #369;
		padding:0.1em;
		margin-left:auto;
		margin-right:auto;
}

p.h5-1 {
    border-width: 0.1em;
    border-style: none none solid none;
    border-color: 	#6fb67c;
		padding:0.1em;
   font-size: 1.1em;
    margin-left: -0.2em;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
    font-weight: bold;
    text-align: left;
    color: #fff;
    margin-top: 2em;
    duokan-text-indent: 0em;
    text-indent: 0em;
    margin-bottom: 2em;
}

div.h2 {
		padding-top: 10%;
         padding-left: 10%;
         width:100%;
         height:100%;
		margin: 0.5em;
		background-color:#939598;
         background-clip: content-box;
padding: 10% 0 0 10%;
border:4px dotted #000000;
background-clip:content-box;
}

/* 带边框 */
span.h2-ch {
    float: right;
    padding: 0em;
		background-color: #EE799F;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    margin-top: 8%;
    color: #000000;
    font-size: 80%;
}

/*标题2*/
h2.h2-1 {
    line-height: 100%;
    text-align: left;
    margin-top: 25%;
    /*margin-left: 15%;
    margin-right: 15%;*/
    color: #ffffff;
    font-size: 1.6em;
    margin-bottom: 2.5em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
}
/*标题2*/
h2.h2-2 {
    line-height: 100%;
    text-align: right;
    margin-top: 35%;
    /*margin-left: 15%;
    margin-right: 15%;
    */
    color: #ffffff;
    font-size: 2.2em;
    margin-bottom: 2.5em;
    font-family: "DK-HEITI","黑体",sans-serif;
}
/*标题3*/
h3.h3 {
    margin-top: 0;
    margin-bottom: 15%;
    line-height: 100%;
    text-align: center;
    font-size: 1.5em;
}
/*标题3*/
span.h3-1 {
    font-size: 100%;
		color:#fff;
		/*border-radius:0.2em;*/
		background-color:#000000;
		width:3em;
		padding:0.8em 0.6em 0.3em 0.6em;
		margin-left:auto;
		margin-right:auto;
	font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
}
/*标题3*/
span.h3-2 {
    font-size: 80%;
		color:#fff;
		/*border-radius:0.2em;*/
		background-color:#000000;
		width:3em;
		padding:0.1em 0.5em 0.1em 0.5em;
		margin-left:auto;
		margin-right:auto;
	font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
}

/* 黑体 */
span.h3-ht{
	font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
	color: #FF8C00;
	font-size: 1.2em;
}

/* 黑体 */
span.h3-ht1{
	font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
	color: #6b6a9d;
	font-size: 80%;
}

/*标题4*/
h4.h4 {

    line-height: 100%;
    text-align: center;
    padding: 0.1em 5px 0.1em 5px;
    margin-top: 1.5em;
    margin-bottom: 1.2em; 
    color: #2E8B57;    /*绿青色*/
    font-weight: bold;
    font-size: 1.2em;
    font-family: "DK-HEITI","黑体",sans-serif;
}

/* 居中 */
h4.h4-c {
    font-size: 1.2em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    margin-top: 40%;
    text-align: center;
	color: #4876FF;
	font-size: 1.2em;
}

/* 居中 */
h4.h4-l {
    font-size: 1.2em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #4876FF;
	font-size: 1.2em;
}

/* 带边框 */
span.h5-signature {
    padding: 0.2em 0.5em 0.2em 0.5em;
		/*border-radius:0.2em;*/
		background-color:#000000;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	margin-top: 0em;
	color: #e6be3a;
	font-size: 0.9em;
}
/* 带边框 */
span.bk {
   /* font-size: 1.2em;*/
    padding: 0.2em 0.5em 0.2em 0.5em;
		/*border-radius:0.2em;*/
		background-color:#000000;

    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	margin-top: 1em;
	color: #e6be3a;
	font-size: 1.2em;
}

p.s1 {
    color: #8B1A1A; 
    font-size: 0.98em;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
   margin-top: 0.5em;
   margin-bottom: 0;
}
p.s2 {
    color: #00008B; 
    font-size: 1.5em;
    font-family: "DK-HEITI","黑体",sans-serif;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
}

.yenei {
    font-size: 1.1em;
    margin-left: -2em;
    font-family: "DK-HEITI","黑体",sans-serif;
    font-weight: bold;
    text-align: left;
    color: #fff;
    text-shadow: 0px 1px 2px #000;
      border: 1px solid #fff;
      background-color: #6b6a9d;
    margin-top: 2em;
    width: 6em;
    padding-left: 2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 0.1em;
    box-shadow: 1px 2px 2px #000;
    margin-bottom: 2em;
    text-indent: 0em;
    duokan-text-indent: 0em;
}

.zhangshu{
		font-family:"ht","biaosong";
		color:#FFF;
		font-size:1.8em;
		border-radius:0.2em;
		padding:0.2em 0.3em 0.2em 0.3em;
		border:solid 1px #aC002a;
		text-shadow:1px 1px 1px #000;
		margin-left:0.2em;
		margin-right:0.2em;
		background-color:	#698B69;
}
.juanshu{
    margin-left: -2em;
	text-align:center;
    font-weight: bold;
    text-align: left;
    color: #ffffff;               /*字体颜色*/
    border: 1px solid #fff;
    background-color: #36a5a1;    /*背景颜色*/
    margin-top: 3em;
    width: 8em;
    padding-left: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.1em;
    text-indent: 0em;
    box-shadow: 1px 2px 2px #000;
    margin-bottom: 2em;
	font-size:1.12em;	
}

/*手稿*/
.shougao {
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
     margin: 1em 0 1em 0;
}

/*手稿1*/
.shougao1 {
	font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	font-size: 1.05em;
    color: #2F4F4F;
   /* font-weight: bold;*/
}
/*手稿2*/
.shougao2 {
    font-family: "kt","楷体","楷体_gb2312","zw",serif;
    font-size: 1.2em;
    color: #483D8B;
    text-align: right;
}

/*手稿2*/
.shougao3 {
    font-family: "DK-HEITI","黑体",sans-serif;
	font-size: 1.2em;
    color: #574266;   /*黛紫*/
   font-weight: bold;
   /*margin-top: 20%;*/
}

/* 黑体 */
.qs-ht {
	/*font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";*/
	duokan-text-indent: 2em;
	text-indent: 2em;
	color: #FFFFFF;
	font-size: 1.15em;
}

/* 版权信息页标题 */
h4.duokan-copyright-title {
	font-size: 24px;
	font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	font-weight: normal;
	text-align: center;
}
/* 版权信息页正文 */
p.duokan-copyright-bodytext {
	font-family: "DK-SONGTI", "方正宋三简体","方正书宋","宋体";
	font-size: 16px;
	text-indent: 2em;
	duokan-text-indent: 2em;
}


/*注释框 */
.boxnote {
	margin-top: 1em;
	margin-bottom: 1em;
        border-top: double 0.2em;
        border-bottom: double 0.2em;
        border-color: #8B0A50; 
        padding:0.2em 0.2em 0.2em 0.2em;     /*留白*/      
	margin-left: 2em;
	margin-right: 0em;
    color: #483D8B;
    font-size: 1em;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
}

.boxnote h5 {
    line-height: 120%;
    font-size: 1em;
    font-family: "DK-HEITI","黑体",sans-serif;
    margin: 1em 0 1em 0;
    color: #483D8B;
    text-align: left;
}

/*注释框2 */
.boxnote1 {
	margin-top: 10%;
	margin-bottom: 1.5em;
        border-top: double 0.2em;
        border-bottom: double 0.2em;
        border-color: #8B0A50; 
        padding:1em 0.1em 1em 0.1em;    /*留白*/  
	margin-left:0em;
	margin-right: 0em;
    color: #a06C00;
    font-size: 1em;
    font-family: "DK-HEITI","黑体",sans-serif;
}

/*注释框3 */
.boxnote2 {
	/*margin-top: 40%;*/
	margin-bottom: 1.5em;
        border-style: dashed;
        border-width: 1px 1px 1px 1px;
        border-color: #8B0A50; 
        border-radius: 20px;
        padding: 0.5em;    /*留白*/  
	margin-left: 2em;
	margin-right: 2em;
    color: #2E8B57;
    font-size: 0.98em;
	font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
}
.boxnote2 h6 {
    color: #ffffff;
    font-size: 1.1em;
    text-align: left;
    margin: 0; /*上 右 下 左 */
    padding: 0.2em 0 0.2em 0;
	border-style: none none none none;
	border-width: 0px 4px 0px 8px;
	background-color:#f051a0;
    font-family: "DK-HEITI","黑体",sans-serif;
}
.boxnote2 b {
    color: #00868B;
    font-size: 1.1em;
    text-align: left;
    
    font-family: "DK-HEITI","黑体",sans-serif;
}
/* 1字高图标 */
img.logo {
	height: 1em;
    vertical-align: duokan-bottom-line;
}

/* 3字高图标 */
img.logo2 {
    height: 0.8em;
    vertical-align: duokan-middle-line;
   /* float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
    margin-left:0px; 
    border-right: 1px solid gray; 
    padding-left:1em; 
    padding-right:2em;*/
}
/* 3字高图标 */
img.logo-2 {
    height: 4em;
    vertical-align: duokan-bottom-line;
   }

/* 2字高图标 */
img.logo3 {
    height: 1.8em;
    vertical-align: duokan-bottom-line;
	margin-right: 0.5em;

	/*margin-bottom: 0.5em;*/

}
/* 3字高图标 */
img.logo4 {
    height: 2em;
    vertical-align: duokan-middle-line;
    float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
    margin-left:0px; 
    padding-left:0em; 
    padding-right:0em;
}
/* 3字高图标 */
img.logo-l {
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: left;
    vertical-align: middle;
    margin-left: 0em;
    margin-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
    width: 35%;
}



/*---------正文----------*/
.mian{
	margin:0;
	padding:0;
}

.mian h1 {
	font-family:"方正粗雅宋_GBK";
	text-align: right;
	margin: 0 0 0.1em 0;
	padding: 0;
	font-size:1.4em;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: #814B89;
	font-style: normal;
	font-weight: normal;
    color: #2F4F4F;
	}
.mian h6 {
	font-family:"方正黑体_GBK";
	font-size:1em;
	text-align: right;
	margin: 1em 0 1em 0;
	padding: 0;
}
.mian h6 b {
	background: #6b6a9d;
	color: #FFF;
	font-weight: normal;
	padding:0.1em;
}
.mian h5 {
	margin: 0 0 4em 0;
	padding: 0;
	text-align: right;
	color: #999;
	font-weight: normal;
	font-size: 0.9em;
}
.mian h5 b {
	font-family:"方正博雅方刊宋_GBK";
	margin: 0;
	padding: 0;
	text-align: right;
	color: #F60;
	font-weight: normal;
}


/*弹出图*/
div.duokan-image-single {
    margin: .5em auto;    /*插图盒子上下外边距为0.5em，左右设置auto是为了水平居中这个盒子*/;
    text-align: center;
}
img.picture-80 {
    margin: 0; /*清除img元素的外边距*/
    width: 80%; /*预览窗口的宽度*/
    box-shadow: 3px 3px 10px #bfbfbf; /*给图片添加阴影效果*/
}
p.duokan-image-maintitle {
    margin: 1em 0 0; /*图片说明的段间距*/
    font-family: "楷体"; /*图片说明使用的字体*/
    font-size: .9em; /*字体大小*/
    text-indent: 0; /*首行缩进为零，当你使用单标签p来指定首行缩进为2em时，记得在需要居中的文本中清除缩进，因为样式是叠加的*/
    text-align: center; /*图片说明水平居中*/
    color: #a52a2a; /*字体颜色*/
    line-height: 1.25em; /*行高，防止有很长的图片说明*/
}

/*左绕排*/
div.float-left {
    width: 50%;
    float: left;
    margin-right: .5em;
    margin-bottom: .5em;
}
/*左绕排*/
div.float-left1 {
    float: left;
    margin-right: 0.5em;
    margin-top: 1.1em;
    margin-bottom: 1.2em;
}
/*右绕排*/
div.float-right {
    width: 30%;
    float: right;
    margin-left: .5em;
    margin-bottom: .5em;
}

/*问*/
p.q {
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    color: #8B5A00;
    font-size: 1.1em;
    text-align: left;
    margin: 2em 0 0.5em 0; /*上 右 下 左 */
    padding: 0;
	border-style: none double none solid;
	border-width: 0px 4px 0px 8px;
	background-color:#EEE9E9;
}
p.q1 {
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    color: #8B5A00;
    font-size: 1em;
    text-align: left;
    margin: 1em 0 1em 0; /*上 右 下 左 */
    padding: 0;
	border-style: none double none solid;
	border-width: 0px 4px 0px 8px;
     background-color: #F0FFF0;
}
/*答*/
p.a {
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
    color: #414e7b;
    font-size: 1em;
    text-align: left;
    margin: 0.5em 0 0.5em 0; /*上 右 下 左 */
    padding: 0;
}
/*note*/
p.note {
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
   /* color: #548B54;*/
     color: #312520;   /*煤黑*/
    font-size: 0.9em;
    text-align: left;
    /*margin: 0.5em 0 0.5em 2em; /*上 右 下 左 */
	margin-bottom: 0.3em;
    padding: 0;
}
/*另类表格*/
div.container
{
width:80%;
margin:0 0 0 20%;
line-height:100%;
    text-align: left;
    font-size: 0.96em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	color: #191970;
}
/*表头 表脚*/
div.header,div.footer
{
padding:0.5em;
color:white;
background-color:gray;
clear:left;
}

h1.header
{
padding:0;
margin:0;
}

div.left
{
float:left;
width:48%;
margin:0;
/*padding:0.5em 0.5em 0.5em 0.5em; /*上 右 下 左*/
}
div.ta{
	font-family:"方正黑体_GBK";
    color: #8B258B;
    margin: 0.5em 0 0.5em 2em; /*上 右 下 左 */
}

div.box{
margin-top: 2em;
	margin-bottom: 1em;
        border: solid 0em;
        border-color: #99d9ea; 
        padding: 0.3em 0.3em 0.3em 0.3em;    /*留白*/  
        background: #efe9ea;
	margin-left: 2em;
	margin-right: 0em;
    color: #004040;
    font-size: 0.98em;
	font-family:"DK-XIHEITI";        /*多看细黑体*/
    border-radius:0.5em;
}

div.box h6{
    text-align: right;
	font-size:1.1em;
	height:1em;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
}

div.box span.aa{
    font-size: 100%;
		color:#fff;
		/*border-radius:0.2em;*/
		background-color:#53868B;
		width:3em;
		padding:0.1em 0.3em 0.1em 1.2em; /*上 右 下 左*/
		margin-left:auto;
		margin-right:auto;
    border-radius:0.5em 0em 0 0.5em; /**/
}

/*白字*/
p.white {
    color: #ffffff;
    font-family: "DK-HEITI","黑体",sans-serif;
}

/*h1*/
h1.h1 {
    margin-top: 20%;
    margin-bottom: 0.5em;  /*下边距*/
    color: #000000;
    border-bottom: solid 2px #ad504b;
    text-align: center;
}

/*h1*/
h1.h1-1 {
    color: #0468bb;
    display: block;
    font-family: "黑体";
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 1.5em 0;
}
span.h1 {
    font-size: 65%;
    text-align: center;
}
span.h1-1 {
        border-style: solid 1px;
        border-color: #0468bb;
	   font-size:85%;
        padding-left: 0.5em;    /*留白*/  
        padding-right: 0.5em;    /*留白*/  
        padding-top: 0;    /*留白*/  
        padding-bottom: 0;    /*留白*/  
        background: #0468bb;
        color: #ffe1ee;
        font-family: "h1","方正兰亭特黑长_GBK","方正兰亭特黑长简体","方正兰亭特黑长繁体","微软雅黑","黑体","DK-SONGTI";
    margin: 0em 0.2em;
}
div.h1 {
    margin: 1.5em 10%;
    text-align: right;
    font-size: 1.2em;
    color: #483D8B;
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
}
/* */
img.h1 {
    text-align: center;
    vertical-align: middle;
    margin: 0em;
    padding: 0em;
    width: 4em;
}
h2.h2-3 {
	margin: 0em;        /*上 右 下 左*/
	font-size: 2em;
     color: #A52A2A;
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
}
div.h2-1 {

	/*border-style: none none none none;*/
	border-width: 0px 1px 0px 1px;
        border-top: dotted 0.2em;
        border-bottom: dotted 0.2em;
	    border-color: #CCCC00;    /*黄色边框*/
        padding: 1.5em;    /*留白*/  
	line-height: 100%;
	text-align: justify;
	font-size:95%;
     color: #483D8B;
     background-color: #F0FFF0;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
}

span.h2-2 {
	   font-size:75%;
        padding: 5px;    /*留白*/  
    font-family: "h1","方正兰亭特黑长_GBK","方正兰亭特黑长简体","方正兰亭特黑长繁体","微软雅黑","黑体","DK-SONGTI";
}

/** 双图片同行-左 **/
.dbimg-left {
	text-align: left;
	vertical-align: bottom;
	width: 45%;
	padding: 1px;
}
/** 双图片同行-右 **/
.dbimg-right {
	text-align: right;
	vertical-align: bottom;
	width: 45%;
	padding: 1px;
}

.yinwen {
    display: block;
    font-family: "仿宋";
    text-indent: 2em;
    margin: 0;
    }

/*.sigil_not_in_toc {
    color: #0468bb;
    display: block;
    font-family: "黑体";
    font-weight: normal;
    text-indent: 0;
    margin: 2em 0 1.2em;
	   font-size: 1.2em;
    }*/
.front {
    display: block;
    font-family: "黑体";
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 1em;
    }
.front1 {
    display: block;
    font-family: "黑体";
    font-size: 1.5em;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 1em;
    }
/*-------图解 专栏---------*/
.Column h6,.diagrammatize h6{
	float:right;
	font-size:1.1em;
	height:1em;
	text-align:center;
	/*border-radius: 5px;*/
	padding: 0.3em 1em 0.3em 1em;
	background-color: #00C5CD;
	color: #8B4726;
	margin:-1em 10% 0 0;
	font-weight: bold;
	line-height:100%;

      border: 2px solid #FFDAB9;

}
.Column,.diagrammatize {
         width:100%;
         height:100%;
		background-color:#C1FFC1;
    background-clip: content-box;
	border-width:2px;
	/*border-radius: 10px;*/
	border-style:solid;
	border-color:#FFDAB9;
	padding:0;
	margin-top:3.5em;
	margin-left:10%;
	margin-right: 0em;
	margin-bottom: 0;

	}
.Column h2,.diagrammatize h2{
	color:#7A378B;
	background: none;
	border:0;
	margin:1.5em 0 1.5em 0;
	padding:0;
    font-family: "h1","方正兰亭特黑长_GBK","方正兰亭特黑长简体","方正兰亭特黑长繁体","微软雅黑","黑体","DK-SONGTI";
	}

.Column h3 a,.diagrammatize h3 a{
	color:#ff5096;
	text-decoration:none;

	}
.Column p,.diagrammatize p{
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	text-indent: 0em;
	}

.diagrammatize h6{
	float:left;
	margin:-1.8em  0 0 8%;
}
.Column h5,.diagrammatize h5{
	font-size:1em;
	font-family:"方正楷体_GBK";
	text-indent: 0em;
	font-weight: bold;
	color:#ff5096;
	margin:0;
	padding:0.5em 0 0 0;
	}

/* 封面-书名 */
.booktitle {
	text-align:center;
	text-indent: 0em!important;
	duokan-text-indent: 0em;
	font-weight:bold;
	color: #333;
	font-size: 1.8em;
	margin: 25% 0px 0px 0px;
	padding: 3px;
	/*text-shadow: 2px 2px 4px gray;*/
	font-family: "ht","HeiTi","微软雅黑","黑体","MYing Hei S","MYing Hei T","TBGothic","zw",sans-serif;
}
/* 封面-副标题 */
.booksubtitle {
	text-align:center;
	text-indent: 0em!important;
	duokan-text-indent: 0em;
	font-weight:bold;
	color: #666;
	font-size: 1.1em;
	line-height:100%;
	margin: 10px 0px 0px 0px;
	padding: 5px 5px 15px 5px;
	/*text-shadow: 2px 2px 4px gray;*/
	font-family: "fs","FangSong","仿宋","仿宋_gb2312",serif;
}
/* 封面-作者 */
.bookauthor {
	text-align:center;
	text-indent: 0em!important;
	duokan-text-indent: 0em;
	font-size:1.1em;
	margin:0.6em 0em 0.6em 0em;
	font-family: "kt","KaiTi","楷体","楷体_gb2312","MKaiGB18030C-Medium","zw",serif;
}
/* 封面-译者 */
.translater {
	text-align:center;
	text-indent: 0em!important;
	duokan-text-indent: 0em;
	font-size:0.9em;
	margin:0em 0em 0em 0em;
	font-family: "ht","HeiTi","微软雅黑","黑体","MYing Hei S","MYing Hei T","TBGothic","zw",sans-serif;
}
/* 封面-出版社 */
.bookpub {
	margin: 65% 0px 0px 0px;
	text-align:center;
	text-indent: 0em!important;
	duokan-text-indent: 0em;
	font-family: "ht","HeiTi","微软雅黑","黑体","MYing Hei S","MYing Hei T","TBGothic","zw",sans-serif;
}

/*******************/
h1.sectionHeading {
    margin-top: 45%;
    text-align: right;

    line-height: 1.5000em;
    border-width: 0px 1px 0px 1px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #CCCC00;
    /*黄色边框*/
        padding: 2em;
    /*留白*/  
	line-height: 100%;
    font-size: 1.5em;
    color: #00688B;
    background-color: #F0FFF0;
    font-family: "ht","HeiTi","微软雅黑","黑体","MYing Hei S","MYing Hei T","TBGothic","zw",sans-serif;
}

h2.sectionHeading {
     margin-top: 45%;
		text-align:center;
	font-weight:800;
	line-height:1.5000em;

	border-width: 0px 1px 0px 1px;
        border-top: solid 1px;
        border-bottom: solid 1px;
	    border-color: #9a1010;    /*黄色边框*/
        padding: 1.5em;    /*留白*/  
	line-height: 100%;
	font-size:1.5em;
     color: #9a1010;
     background-color: #F0FFF0;
	font-family: "ht","HeiTi","微软雅黑","黑体","MYing Hei S","MYing Hei T","TBGothic","zw",sans-serif;
}

/*图片贴边多看专用*/
img.title-bleedimg {
    duokan-bleed: top;
	width: 100%;
	margin: 0;
	text-align: center;
}
/*分割线*/
.section_break {
	margin:1.3em 0 1.3em 0;
	text-align:center;
}

div.poems1 {
    text-align: left;
    margin: 0.8em 0em 0.8em 0em;
    font-size: 0.96em;
    line-height: 1;
    /*color: #483D8B;*/
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	color: #191970;
}
p.bb{
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    color: #aC402a;
    font-size: 0.96em;
}

.title29 {
	line-height:100%;
	text-align: justify;
	padding: 10px 5px 5px 40px; /*上右下左 */
	/*page-break-before:always;*/
	/*font-weight:bold;*/
	font-size:100%;/*x-large;*/
	font-family: "h2","方正大标宋_GBK","方正大标宋简体","方正大标宋繁体","微软雅黑","黑体","zw",sans-serif;
	/*text-shadow:2px 2px 4px gray;	/*#000000;*/
	text-shadow: -1px -1px 3px white,1px 1px 3px gray,-1px -1px white,1px 1px black; 
	/*text-shadow: -1px -1px 3px #ffb69a,1px 1px 3px #922e09,-1px -1px #ffb69a,1px 1px #922e09; */
	/*text-outline: 2px 2px #ff0000;*/
	/*background-image: url(../Images/backgroundh1.png);
	background-repeat: no-repeat;*/
}


.title2
{
	color: white;
	background-color:#66ccff;
	line-height:100%;
	font-family: "DK-HEITI", "方正兰亭黑简体","微软雅黑","ht","黑体","MYing Hei S","MYing Hei T","TBGothic","zw",sans-serif;
	text-align: left;
	border-style: none none none solid;
	border-width: 0px 0px 0px 5px;
	border-left-color:#66ddff;
	/*font-weight:bold;*/
	font-size:1.4em;
	/*margin:3em 0em 2em 0em;*/
	padding:0.5em;
}
.title3
{
	color: white;
	background-color:mediumvioletred;
	line-height:100%;
	font-family: "ht",sans-serif;  
	text-align: center;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-radius: 0px 15px 0px 15px;
	border-color:mediumvioletred;
	width:6em;
	font-weight:bold;
	font-size:1.1em;
	margin-bottom:-0.1em;
	margin-top:1em;
	padding:2px 2px 2px 2px;
}
.title20 {
	font-family:"DK-XIHEITI";        /*多看细黑体*/
	line-height:130%;
	text-align: left;
	/*font-weight:bold;*/
	font-size:large;
	font-family: "h3";
	/*margin-top:50;*/
}
/*多看专用竖体字标题*/
p.poetry_center-title {
    duokan-text-indent: 0em;
    text-indent: 0em;
    margin: 20% 30% 2em 2em; /*上右下左*/
    font-family: "小标宋";
    font-size: 1.5em;
    width: 1em;
    float: right;
    color: #da251d;
}
/*多看专用竖体字*/
div.poetry_center-text p {
    duokan-text-indent: 0em;
    text-indent: 0em;
	margin: .5em .5em 0 0.5em;  /*上右下左*/
    line-height: 1.2em;
    font-family: "仿宋";
    font-size: 1.1em;
    width: 1em;
    float: right;
}
/*代码测试的显示效果容器*/
div.test-result {
	border: 1em solid transparent; 
	border-image: url("../Images/quote.png") 90 90 stretch; 
}

.h6-1 {
    /*推荐序用*/
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    font-size: 1.1em;
    text-align: left;
    border: 1px solid #fff;
    background-color: #db7093;
    margin-top: 1em;
    width: 6em;
    padding-left: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.2em;
    text-indent: 0em;
    box-shadow: 1px 2px 2px #000;
    color: #f0ffff;
}
.title13 {
	color:mediumvioletred;
	/*color:pink;*/
	margin-top:0;
	line-height:100%;
	text-align: justify;
	border-style: none double none solid;
	border-width: 0px 5px 0px 20px;
	/*border-color: blue;*/
	/*border-left-color: blue;*/
	/*background-color: gray;*/
	border-color: mediumvioletred;
	border-left-color:mediumvioletred;
	/*background-color: palevioletred;*/
	/*background-image: url(../Images/backgroundh2.png);*/
	/*background-repeat: no-repeat;*/
	padding: 5px 10px 5px 10px;
}
.title13-1 {
     color: mediumvioletred;
	line-height:100%;
	text-align: right;
	font-weight:normal;
	font-size:1.5em;
	margin:1em 0em 2em 0em;
	padding:2em 0.2em 0.1em 0.2em;
	border-style: none solid solid none;
	border-width: 0px 4px 0px 0px;
	border-color: pink;
	font-family: "zw","宋体","明体","明朝","STBShusong","TBMincho","HYMyeongJo",serif;

}
/*版权信息*/
.vol {
	font-family: "DK-HEITI", "方正兰亭黑简体","微软雅黑","ht","黑体","MYing Hei S","MYing Hei T","TBGothic","zw",sans-serif;
    font-size: 1.3em;
    text-indent: 0em;
    text-align: center;
    padding: 1em;
    margin: 1.5em auto 1.3em auto;
    color: #3B2735;
}
.xchar {
	font-family: "fs","FangSong","仿宋","仿宋_gb2312",serif;
    font-size: 90%;
    text-indent: 0em;
    duokan-text-indent: 0em;
    color: #412938;
}
.bookname{
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
    font-size: 90%;
    text-indent: 0em;
    duokan-text-indent: 0em;
    margin-top: 2em; 
    color: #412938;
}
.cp {
	font-family: "fs","FangSong","仿宋","仿宋_gb2312",serif;
    font-size: 75%;
    text-align: left;
    text-indent: 0em;
    duokan-text-indent: 0em; 
    margin: 0.7em 0 0.7em 0;
    color: #412938;
}
p.bottom{margin-bottom: 2em;}	

.parter{
	margin-left:-2em;
	font-family: "方正黑体_GBK","DK-HEITI";
	font-weight:bold;
	text-align:center;
	color:white;
	border:1px solid #288aaa;
	background-color:#288aaa;
 	margin-top:0em;
	width:7em;
	text-indent:0em;
	padding-left:2em;
	padding-top:0.3em;
	padding-bottom:0.3em;
	padding-right:0.5em;
	text-indent:0em;
    duokan-text-indent: 0em;
	border-radius: 0px 5px 5px 0px;
}

.title10{
	font-size: 1.6em;
	font-weight: bold;
	color: #6b6a9d;
	text-shadow:1px 1px 2px #000;
	border-bottom: 2px dashed gray;
	padding-left: .25em;
	padding-right: .5em;
	padding-bottom: .1em;
	vertical-align: bottom;
}
.title29 {
    line-height: 100%;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 140%;
	color: #6b6a9d;
	font-family: "h2","方正大标宋_GBK","方正大标宋简体","方正大标宋繁体","微软雅黑","黑体","zw",sans-serif;
	text-shadow: -1px -1px 3px white,1px 1px 3px gray,-1px -1px white,1px 1px black;
}
/* 引文署名楷体居右 */
p.reference-sign {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 1em;
	text-align: right;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/* 楷体自然段 */
.kaiti-text {
	font-family: "DK-KAITI", "方正楷体","华文楷体","楷体";
	font-size: 1em;
	text-indent: 2em;
	duokan-text-indent: 2em;
}
div.xbs-text {
    font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	font-size: 0.96em;
	text-indent: 2em;
	duokan-text-indent: 2em;
    margin-top: 1em;
	margin-bottom: 1em;
        padding: 0.3em 0.3em 0.3em 0.3em;    /*留白*/  
        background: #efe9ea;
	margin-left: 2em;
	margin-right: 0em;
    border-radius:0.5em;
}
#a h3 {
	text-align: left;
	font-family:"方正粗雅宋_GBK";
	width:100%;
	border-style:dashed;
	border-width:0 0 1px 0;
	border-color:#814B89;
	margin:1em 0 0 0;
	padding:0;
	font-size:1.2em;
	}
#a h3 i{
	background:#814B89;
	color:#FFF;
	font-style:italic;
	margin:0;
	padding:0;
	font-weight: normal;
	}
#a h3 b{
	color:#0;
	font-size:0.7em;
	font-weight: normal;
	font-family:"方正博雅方刊宋_GBK";
	vertical-align:text-bottom;
	}
.introduction{
	font-family:"DK-XIHEITI";        /*多看细黑体*/
	margin:0 0 0 2.5em;
	padding:0.1em 0 0 0.5em;
	border-style: solid;
	border-width:0 0 0 1px;
	border-color:#814B89;
	}
.introduction p{
	font-size:0.96em;
	text-indent: 2em;
	duokan-text-indent: 2em;
	color:#163636;
	}
.introduction p strong{
	font-family:"方正楷体_GBK";
	color:#666;
	font-weight: normal;
}

.title31 {
    color:#38a;
	line-height:130%;
	text-align: justify;
	/*font-weight:bold;*/
	font-size:110%;/*large;*/
	font-family:"DK-XIHEITI";        /*多看细黑体*/
	margin-top:0.5em;
	/*margin-bottom:-0.9em;*/
	/*text-shadow:2px 2px 4px gray;	/*#000000;*/
}









