/* Global setting */
/* 全局设定 */
body {
	line-height: 1.618em;
	margin: 15px;}

/* TOC link color */
/* 目录条目链接颜色 */
a {
	color: #0000CC;
}

/* TOC Title */
/* 目录标题 */
.kindle-cn-toc-title {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0.5em;
	letter-spacing: 1em;
	text-align: center;
	border-bottom: 1.5px dotted #000000;
}

/* Level 1 TOC */
/* 一级标题 */
.kindle-cn-toc-level-1 {
	margin-left: 0em;
}

/* Level 2 TOC */
/* 二级标题 */
.kindle-cn-toc-level-2 {
	margin-left: 2em;
}

/* Level 3 TOC */
/* 三级标题 */
.kindle-cn-toc-level-3 {
	margin-left: 4em;
}

/* Level 4 TOC */
/* 四级标题 */
.kindle-cn-toc-level-4 {
	margin-left: 6em;
}

/* Level 5 TOC */
/* 五级标题 */
.kindle-cn-toc-level-5 {
	margin-left: 8em;
}

/* Level 6 TOC */
/* 六级标题 */
.kindle-cn-toc-level-6 {
	margin-left: 10em;
}

.pagebreak {
	page-break-before: always;
}

/** 黑体文字 **/
span.kindle-cn-hei { 
	
}

/** 宋体文字 **/
span.kindle-cn-song { 
	 
}

/** 楷体文字 **/
span.kaiti { 
	
}

.kindle-cn-image {
	text-align: center;
	margin: 0px;
	page-break-inside: avoid;
}

p.kindle-cn-caption{
	text-align: left;
	text-indent: 0em;
	font-size: 90%;
	
	}


/** 加粗 **/
span.kindle-cn-bold{
	font-weight: bold;
}

/** 斜体字 **/
span.kindle-cn-italic{
font-style: italic;
}

/* 数学上标字体 */
span.math-super {
	font-size: 0.7em;
	vertical-align: super;
}

/* 数学下标字体 */
span.math-sub {
	font-size: 0.7em;
	vertical-align: sub;
}

/*居中*/
p.kindle-cn-para-center{
	text-align: center;
	text-indent: 0em;
}

/* 根据原文调整图片大小 plus1*/
img.kindle-cn-inline-image2 {
	height: 2em;
	vertical-align: middle;
	margin-left: -0.1em ;
	margin-right: -0.1em  ;
}
