.bookauthor {
    display: block;
    font-family: "kt", "楷体", "楷体_gb2312", "zw", serif;
    font-size: 1.125em;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 10% 0 0
    }
.bookpub {
    display: block;
    font-family: "fs", "仿宋", "仿宋_gb2312", "kt", "zw", serif;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 30% 0 0
    }
.booksubtitle {
    display: block;
    font-family: "ht", "微软雅黑", "黑体", "zw", sans-serif;
    font-size: 1.125em;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0
    }
.booktitle {
    display: block;
    font-family: "h1", "H-秀月", "方正兰亭特黑长_GBK", "方正兰亭特黑长简体", "方正兰亭特黑长繁体", "微软雅黑", "黑体", "zw", sans-serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.border {
    display: inline-block;
    font-family: "yt", "圆体", "幼圆", "微软雅黑", "黑体", "ht", "zw", sans-serif;
    font-size: 0.79412em;
    text-indent: 0;
    padding: 0.25em;
    border-top: #000 solid 2px;
    border-bottom: #000 solid 5px;
    margin: 1em 0
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    font-size: 1em;
    line-height: 130%;
    text-align: justify;
    text-justify: inter-ideograph;
    padding: 0;
    margin: 0 5pt
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    line-height: 130%;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.calibre5 {
    color: #000;
    cursor: pointer;
    text-decoration: none
    }
.calibre6 {
    display: block;
    font-family: "h3", "方正小标宋_GBK", "方正小标宋简体", "方正小标宋繁体", "方正华隶_GBK", "方正行黑简体", "方正行黑繁体", "仿宋", "仿宋_gb2312", "微软雅黑", "黑体", "zw", sans-serif;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 130%;
    text-align: left;
    text-indent: 0;
    margin: 0.5em 0 2em
    }
.calibre7 {
    display: block;
    line-height: 130%;
    text-align: justify;
    padding: 0;
    margin: 0
    }
.calibre8 {
    display: block;
    font-family: "h2", "方正大标宋_GBK", "方正大标宋简体", "方正大标宋繁体", "微软雅黑", "黑体", "zw", sans-serif;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-shadow: 4px 4px 6px gray;
    margin: 1em 0
    }
.calibre9 {
    display: block;
    font-family: "fs", "仿宋", "仿宋_gb2312", "kt", "KaiTi", "楷体", "楷体_gb2312", "zw", serif;
    text-align: justify;
    text-indent: 2em;
    margin: 1.5em 1em
    }
.calibre10 {
    height: auto;
    width: auto
    }
.calibre11 {
    font-weight: bold
    }
.calibre12 {
    display: block;
    line-height: 130%;
    text-align: justify;
    text-indent: 36.720001px;
    padding: 0;
    margin: 0
    }
.cankao {
    background-color: #d4d4d4;
    display: block;
    font-family: "kt", "KaiTi", "楷体", "楷体_gb2312", "zw", serif;
    line-height: 130%;
    text-align: justify;
    padding: 0.25em;
    border: #444 dotted 1px;
    margin: 0.5em 0
    }
.gaizi {
    height: auto;
    vertical-align: -0.2em;
    width: 1em
    }
.ht {
    display: block;
    font-family: "ht", "HeiTi", "微软雅黑", "黑体", "MYing Hei S", "MYing Hei T", "TBGothic", "zw", sans-serif;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0
    }
.ht1 {
    display: block;
    font-family: "ht", "HeiTi", "微软雅黑", "黑体", "MYing Hei S", "MYing Hei T", "TBGothic", "zw", sans-serif;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0
    }
.kt {
    display: block;
    font-family: "kt", "KaiTi", "楷体", "楷体_gb2312", "MKaiGB18030C-Medium", "zw", serif;
    line-height: 130%;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.noindent {
    display: block;
    line-height: 130%;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0
    }
.noindent1 {
    display: block;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0
    }
.p_sm {
    display: block;
    font-family: "kt", "KaiTi", "楷体", "楷体_gb2312", "MKaiGB18030C-Medium", "zw", serif;
    font-size: 1em;
    line-height: 130%;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0 0 0.5em
    }
.p_sm1 {
    display: block;
    font-family: "kt", "KaiTi", "楷体", "楷体_gb2312", "MKaiGB18030C-Medium", "zw", serif;
    font-size: 1em;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.5em
    }
.p_sm2 {
    display: block;
    font-family: "ht", "HeiTi", "微软雅黑", "黑体", "MYing Hei S", "MYing Hei T", "TBGothic", "zw", sans-serif;
    font-size: 1em;
    line-height: 130%;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0 0 0.5em
    }
.p_title {
    background-color: #fff;
    background-image: url(images/00002.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-family: "ht", "HeiTi", "微软雅黑", "黑体", "MYing Hei S", "MYing Hei T", "TBGothic", "zw", sans-serif;
    font-size: 1.125em;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0.5em
    }
.picture {
    display: block;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    padding: 0;
    border: currentColor none medium;
    margin: 0.5em 0
    }
.right {
    display: block;
    line-height: 130%;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.sigil_not_in_toc {
    display: block;
    font-family: "ht", "微软雅黑", "黑体", "zw", sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 130%;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1em
    }
.toc {
    display: table;
    line-height: 130%;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    padding: 0
    }
.toc1 {
    display: block;
    font-family: "fs", "仿宋", "仿宋_gb2312", "kt", "zw", serif;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 130%;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.3em 0 0
    }
.toc2 {
    display: block;
    font-family: "yt", "圆体", "幼圆", "微软雅黑", "黑体", "ht", "zw", sans-serif;
    font-size: 0.75em;
    line-height: 130%;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.3em 0 0
    }
.toctitle {
    display: block;
    font-family: "h2", "方正大标宋_GBK", "方正大标宋简体", "方正大标宋繁体", "微软雅黑", "黑体", "zw", sans-serif;
    font-size: 1.66667em;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
