.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 1.48% 0%
    }
.calibre3 {
    line-height: 1.2
    }
.calibre4 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre5 {
    -aw-bookmark-end: _Toc45642684;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 1.48% 0%
    }
.calibre7 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    line-height: 1.2
    }
.calibre9 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre10 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    margin: 0%
    }
.calibre11 {
    display: block;
    line-height: 1.2
    }
.calibre12 {
    clear: both;
    display: block;
    line-height: 1.2
    }
.calibre13 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: justify;
    margin: 0%
    }
.calibre14 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre15 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    margin: 0% 0% 2.22%
    }
.calibre16 {
    -aw-bookmark-end: _Hlk32409733;
    line-height: 1.2
    }
.calibre17 {
    display: block;
    text-align: justify;
    margin: 0%
    }
.calibre18 {
    display: block
    }
.calibre19 {
    clear: both;
    display: block
    }
.calibre20 {
    display: block;
    font-size: 1.41667em;
    line-height: 115%;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    margin: 2.22% 0% 0%
    }
.calibre21 {
    font-size: 1em;
    font-weight: bold
    }
.calibre22 {
    display: block;
    text-align: justify;
    margin: 0% 0% 0.93%
    }
.calibre23 {
    color: #0563c1
    }
.calibre24 {
    color: #0563c1;
    font-size: 1em;
    text-decoration: underline
    }
.calibre25 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 1.48% 0%
    }
.calibre26 {
    -aw-bookmark-end: Introduction_3;
    line-height: 1.2
    }
.calibre27 {
    -aw-bookmark-end: Introduction_2;
    line-height: 1.2
    }
.calibre28 {
    -aw-bookmark-end: _35570;
    line-height: 1.2
    }
.calibre29 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 12pt;
    text-align: justify;
    text-indent: -1em;
    margin: 2.22% 3.51%
    }
.calibre30 {
    display: block;
    margin: 0%
    }
.calibre31 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1.48% 0%
    }
.calibre32 {
    -aw-bookmark-end: _Toc45642687;
    line-height: 1.2
    }
.calibre33 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre34 {
    -aw-bookmark-end: _Toc45642688;
    line-height: 1.2
    }
.calibre35 {
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
.calibre36 {
    -aw-bookmark-end: _Toc45642689;
    line-height: 1.2
    }
.calibre37 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 12pt;
    text-indent: -1em;
    margin: 2.22% 3.51%
    }
.calibre38 {
    -aw-bookmark-end: _Toc45642690;
    line-height: 1.2
    }
.calibre39 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 1.84% 0%
    }
.calibre40 {
    display: block;
    text-align: justify;
    margin: 1.49% 0%
    }
.calibre41 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre42 {
    font-size: 1.41667em;
    font-style: italic;
    line-height: 1.2
    }
.calibre43 {
    font-size: 1em
    }
.calibre44 {
    font-size: 0.75em
    }
.calibre45 {
    -aw-bookmark-end: The_Right_Way_1
    }
.calibre46 {
    font-size: 1em;
    font-weight: normal
    }
.calibre47 {
    -aw-bookmark-end: a_5i6
    }
.calibre48 {
    -aw-bookmark-end: a_fi6
    }
.calibre49 {
    -aw-bookmark-end: a_ri6
    }
.calibre50 {
    -aw-bookmark-end: a_si6
    }
.calibre51 {
    -aw-bookmark-end: a_xi6
    }
.calibre52 {
    -aw-bookmark-end: a_yi6
    }
.calibre53 {
    -aw-bookmark-end: a_3j6
    }
.calibre54 {
    -aw-bookmark-end: How_To_Udzie_Dirty_Talking_To_Tu_1
    }
.calibre55 {
    -aw-bookmark-end: a_ej6
    }
.calibre56 {
    -aw-bookmark-end: a_qj6
    }
.calibre57 {
    -aw-bookmark-end: a_2k6
    }
.calibre58 {
    -aw-bookmark-end: a_Ek6
    }
.calibre59 {
    -aw-bookmark-end: a_Qk6
    }
.calibre60 {
    -aw-bookmark-end: Thidz_is_anothier_good_wau_to_dz
    }
.calibre61 {
    -aw-bookmark-end: a_ck6
    }
.calibre62 {
    -aw-bookmark-end: a_ik6
    }
.calibre63 {
    -aw-bookmark-end: a_uk6
    }
.calibre64 {
    -aw-bookmark-end: a_6l6
    }
.calibre65 {
    -aw-bookmark-end: a_Jl6
    }
.calibre66 {
    -aw-bookmark-end: a_Ul6
    }
.calibre67 {
    -aw-bookmark-end: a_gl6
    }
.calibre68 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    margin: 0% 0% 1.48%
    }
.calibre69 {
    -aw-bookmark-end: What_idz_Dirty_Talk_1
    }
.calibre70 {
    -aw-bookmark-end: What_idz_Dirty_Talk
    }
.calibre71 {
    -aw-bookmark-end: a_zl6
    }
.calibre72 {
    -aw-bookmark-end: So__what_is_dirty_talk__Wiell__i
    }
.calibre73 {
    -aw-bookmark-end: a_gm6
    }
.calibre74 {
    -aw-bookmark-end: a_xm6
    }
.calibre75 {
    -aw-bookmark-end: You_san_t_expect_uour_dziex_lifi
    }
.calibre76 {
    -aw-bookmark-end: a_9n6
    }
.calibre77 {
    -aw-bookmark-end: So__how_do_uou_giet_ovier_the_ni
    }
.calibre78 {
    -aw-bookmark-end: Sexting_involves_udzing_your_pho
    }
.calibre79 {
    -aw-bookmark-end: a_Sn6
    }
.calibre80 {
    -aw-bookmark-end: a_Tn6
    }
.calibre81 {
    -aw-bookmark-end: a_Xn6
    }
.calibre82 {
    -aw-bookmark-end: Once_dziexting_fieieldz_likie_a
    }
.calibre83 {
    -aw-bookmark-end: a_dn6
    }
.calibre84 {
    -aw-bookmark-end: Don_t_fret_if_the_niervoudzniedz
    }
.calibre85 {
    -aw-bookmark-end: a_pn6
    }
.calibre86 {
    -aw-bookmark-end: So__now_that_uou_are_rieadu_and
    }
.calibre87 {
    -aw-bookmark-end: a_1o6
    }
.calibre88 {
    -aw-bookmark-end: Well__naturallu__you_arie_workin
    }
.calibre89 {
    -aw-bookmark-end: a_Eo6
    }
.calibre90 {
    -aw-bookmark-end: a_bo6
    }
.calibre91 {
    -aw-bookmark-end: a_co6
    }
.calibre92 {
    -aw-bookmark-end: ___Bie_original__You_don_t_want
    }
.calibre93 {
    -aw-bookmark-end: a_no6
    }
.calibre94 {
    -aw-bookmark-end: a_oo6
    }
.calibre95 {
    -aw-bookmark-end: a_zo6
    }
.calibre96 {
    -aw-bookmark-end: a_0p6
    }
.calibre97 {
    -aw-bookmark-end: ___Kieier_it_at_bau__When_thingd
    }
.calibre98 {
    -aw-bookmark-end: a_Cp6
    }
.calibre99 {
    -aw-bookmark-end: a_Op6
    }
.calibre100 {
    -aw-bookmark-end: a_ap6
    }
.calibre101 {
    -aw-bookmark-end: a_bp6
    }
.calibre102 {
    -aw-bookmark-end: a_lp6
    }
.calibre103 {
    -aw-bookmark-end: a_xp6
    }
.calibre104 {
    -aw-bookmark-end: a_9q6
    }
.calibre105 {
    -aw-bookmark-end: Romansie_Tirdz_For_Your_Dream_Gi_1
    }
.calibre106 {
    -aw-bookmark-end: a_yq6
    }
.calibre107 {
    -aw-bookmark-end: ___Comrlimient_hier__Modzt_women
    }
.calibre108 {
    -aw-bookmark-end: a_kr6
    }
.calibre109 {
    -aw-bookmark-end: a_yr6
    }
.calibre110 {
    -aw-bookmark-end: a_2s6
    }
.calibre111 {
    -aw-bookmark-end: a_8s6
    }
.calibre112 {
    -aw-bookmark-end: a_is6
    }
.calibre113 {
    -aw-bookmark-end: a_ws6
    }
.calibre114 {
    -aw-bookmark-end: a_6t6
    }
.calibre115 {
    -aw-bookmark-end: a_It6
    }
.calibre116 {
    -aw-bookmark-end: a_Ut6
    }
.calibre117 {
    -aw-bookmark-end: a_gt6
    }
.calibre118 {
    -aw-bookmark-end: a_mt6
    }
.calibre119 {
    -aw-bookmark-end: _I_just_lovie_waking_ur_with_you
    }
.calibre120 {
    -aw-bookmark-end: a_yt6
    }
.calibre121 {
    -aw-bookmark-end: _I_san_t_wait_to_dzieie_you
    }
.calibre122 {
    -aw-bookmark-end: _5_Listen__To_kieier_uour_romans
    }
.calibre123 {
    -aw-bookmark-end: Turn_off_thie_television__Yes__o
    }
.calibre124 {
    -aw-bookmark-end: a_Mu6
    }
.calibre125 {
    -aw-bookmark-end: a_Yu6
    }
.calibre126 {
    -aw-bookmark-end: a_eu6
    }
.calibre127 {
    -aw-bookmark-end: a_qu6
    }
.calibre128 {
    -aw-bookmark-end: a_2v6
    }
.calibre129 {
    -aw-bookmark-end: a_Ev6
    }
.calibre130 {
    -aw-bookmark-end: _9___Doiedz_my_butt_look_big_in
    }
.calibre131 {
    -aw-bookmark-end: a_Qv6
    }
.calibre132 {
    -aw-bookmark-end: _0__Be_her_friend__You_have_to_s
    }
.calibre133 {
    -aw-bookmark-end: a_iv6
    }
.calibre134 {
    -aw-bookmark-end: a_uv6
    }
.calibre135 {
    -aw-bookmark-end: Talk_Dirtu_in_Bied_1
    }
.calibre136 {
    -aw-bookmark-end: Talk_Dirtu_in_Bied
    }
.calibre137 {
    -aw-bookmark-end: a_7w6
    }
.calibre138 {
    -aw-bookmark-end: a_8w6
    }
.calibre139 {
    -aw-bookmark-end: a_Ww6
    }
.calibre140 {
    -aw-bookmark-end: If_you_want_to_talk_dirtu_in_bed
    }
.calibre141 {
    -aw-bookmark-end: a_hw6
    }
.calibre142 {
    -aw-bookmark-end: a_tw6
    }
.calibre143 {
    -aw-bookmark-end: __Prastisie_to_talk_dziexu__Your
    }
.calibre144 {
    -aw-bookmark-end: a_5x6
    }
.calibre145 {
    -aw-bookmark-end: a_6x6
    }
.calibre146 {
    -aw-bookmark-end: __Pick_thie_right_worddz_to_dzau
    }
.calibre147 {
    -aw-bookmark-end: a_fx6
    }
.calibre148 {
    -aw-bookmark-end: a_sx6
    }
.calibre149 {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    text-align: justify;
    margin: 0%
    }
.calibre150 {
    -aw-bookmark-end: _245477;
    line-height: 1.2
    }
.calibre151 {
    display: block;
    padding-left: 17.05pt;
    text-align: justify;
    text-indent: -1.4em;
    margin: 2.22% 3.51%
    }
.calibre152 {
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre153 {
    -aw-bookmark-end: _Toc45642703
    }
.calibre154 {
    display: block;
    font-size: 0.75em;
    line-height: 115%;
    text-align: justify;
    margin: 0%
    }
