.author {
    background-color: #737373;
    color: #fff;
    display: block;
    font-size: 0.79412em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 1em 6px;
    padding: 3px
    }
.author1 {
    background-color: #737373;
    color: #fff;
    display: block;
    font-size: 0.79412em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 1em 6px;
    padding: 3px
    }
.author2 {
    background-color: #737373;
    color: #fff;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 1em 6px;
    padding: 3px
    }
.body-text {
    -epub-line-break: normal;
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 7px
    }
.body-text1 {
    -epub-line-break: normal;
    color: black;
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 24px;
    text-transform: none;
    margin: 0
    }
.body-text2 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0
    }
.body-text3 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 24px;
    text-transform: none;
    margin: 0
    }
.body-text4 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 24px;
    text-transform: none;
    margin: 1em 0 0 3em
    }
.body-text5 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 24px;
    text-transform: none;
    margin: 0 0 0 3em
    }
.body-text6 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 9px 0 0
    }
.body-text7 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 24px;
    text-transform: none;
    margin: 5px 0 0
    }
.body-text8 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 24px;
    text-transform: none;
    margin: 4px 0 0
    }
.body-text9 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0
    }
.body-text10 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 5px
    }
.body-text11 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 1px 0 7px
    }
.body-text12 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 1px
    }
.body-text13 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 1px
    }
.body-text14 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 0 0 1px 8px
    }
.body-text15 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 6px 0 12px
    }
.body-text16 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 3px
    }
.body-text17 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0.5em 0
    }
.body-text18 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0
    }
.body-text19 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0.5em 0
    }
.body-text20 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 3px
    }
.body-text21 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 5px
    }
.body-text22 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 2px 0 7px
    }
.body-text23 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 2px 0 8px
    }
.body-text24 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 2px
    }
.body-text25 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 1px
    }
.body-text26 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 0.5em
    }
.body-text27 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 4px
    }
.body-text28 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 0 0 26px
    }
.body-text29 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 10px;
    text-transform: none;
    margin: 7px 0 0
    }
.box {
    display: block;
    margin: 1em 2em;
    padding: 5px;
    border: black double 1px
    }
.boxg {
    background-color: #E2E3E4;
    display: block;
    margin: 1em 0;
    padding: 5px;
    border: #E2E3E4 double 1px
    }
.calibre {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    text-align: center
    }
.calibre3 {
    height: 100%;
    width: auto
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    height: auto;
    width: auto
    }
.calibre6 {
    color: black;
    line-height: 1.2
    }
.calibre7 {
    line-height: 1.2
    }
.calibre8 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre9 {
    display: table-row;
    vertical-align: middle
    }
.calibre10 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre11 {
    display: block
    }
.calibre12 {
    height: 35px;
    line-height: 1.2;
    width: 220px
    }
.calibre13 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre14 {
    height: 40px;
    line-height: 1.2;
    width: 172px
    }
.calibre15 {
    font-style: italic;
    line-height: 1.2
    }
.calibre16 {
    height: 40px;
    line-height: 1.2;
    width: 150px
    }
.calibre17 {
    height: 40px;
    line-height: 1.2;
    width: 80px
    }
.calibre18 {
    height: 45px;
    line-height: 1.2;
    width: 120px
    }
.calibre19 {
    height: 38px;
    line-height: 1.2;
    width: 100px
    }
.calibre20 {
    height: 35px;
    line-height: 1.2;
    width: 150px
    }
.calibre21 {
    height: 35px;
    line-height: 1.2;
    width: 80px
    }
.calibre22 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre23 {
    height: 35px;
    line-height: 1.2;
    width: 100px
    }
.calibre24 {
    height: 35px;
    line-height: 1.2;
    width: 130px
    }
.calibre25 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%
    }
.calibre26 {
    height: 35px;
    line-height: 1.2;
    width: 60px
    }
.calibre27 {
    display: table-cell;
    text-align: right;
    vertical-align: inherit;
    padding: 1px
    }
.calibre28 {
    height: 70px;
    width: 180px
    }
.calibre29 {
    height: 32px;
    line-height: 1.2;
    width: 90px
    }
.calibre30 {
    height: 40px;
    line-height: 1.2;
    width: 70px
    }
.calibre31 {
    height: 30px;
    line-height: 1.2;
    width: 70px
    }
.calibre32 {
    color: black
    }
.calibre33 {
    height: 30px;
    line-height: 1.2;
    width: 100px
    }
.calibre34 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre35 {
    height: 99%;
    width: auto
    }
.caption {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 2px
    }
.charoverride {
    font-size: 0.70588em;
    font-style: normal;
    font-weight: normal
    }
.charoverride1 {
    font-size: 0.70588em;
    font-style: italic;
    font-weight: normal
    }
.charoverride2 {
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride3 {
    color: black;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride4 {
    color: black;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride5 {
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride6 {
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride7 {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride8 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride9 {
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride10 {
    color: #005daa;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride11 {
    font-size: 0.58333em;
    font-style: normal;
    font-weight: normal;
    vertical-align: super
    }
.charoverride12 {
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride13 {
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride14 {
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    vertical-align: super
    }
.charoverride15 {
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    vertical-align: sub
    }
.charoverride16 {
    color: #f00;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride17 {
    font-size: 0.58333em;
    font-style: normal;
    font-weight: normal;
    vertical-align: 4px
    }
.charoverride18 {
    font-size: 0.58333em;
    font-style: normal;
    font-weight: normal
    }
.charoverride19 {
    font-size: 0.77778em;
    font-style: normal;
    font-weight: bold;
    vertical-align: super
    }
.charoverride20 {
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    vertical-align: sub
    }
.charoverride21 {
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    vertical-align: super
    }
.charoverride22 {
    font-size: 0.77778em;
    font-style: normal;
    font-weight: normal;
    vertical-align: super
    }
.charoverride23 {
    color: #294a80;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride24 {
    color: black;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride25 {
    color: black;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride26 {
    font-size: 0.88889em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride27 {
    font-size: 1em;
    font-style: normal;
    font-weight: normal
    }
.charoverride28 {
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal
    }
.charoverride29 {
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride30 {
    color: black;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride31 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride32 {
    font-size: 0.77778em;
    font-style: normal;
    font-weight: normal;
    vertical-align: sub
    }
.charoverride33 {
    font-size: 0.66667em;
    font-style: normal;
    font-weight: bold;
    vertical-align: sub
    }
.charoverride34 {
    font-style: normal;
    font-weight: normal
    }
.charoverride35 {
    font-size: 1.125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride36 {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride37 {
    color: white;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride38 {
    color: #fff;
    font-size: 0.79412em;
    font-style: normal;
    font-weight: bold
    }
.charoverride39 {
    color: black;
    font-size: 0.58333em;
    font-style: normal;
    font-weight: normal;
    vertical-align: super
    }
.charoverride40 {
    color: black;
    font-size: 0.77778em;
    font-style: normal;
    font-weight: normal;
    vertical-align: super
    }
.charoverride41 {
    font-size: 1.33333em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.experiment-number {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 0.5em
    }
.experiment-number1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 0.5em
    }
.figure {
    display: block;
    text-align: center;
    margin: 1em 0 0.5em
    }
.hyperlink {
    color: #00f;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.hyperlink1 {
    color: #00f;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.long-quote {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 12px;
    text-transform: none;
    margin: 0 12px
    }
.long-quote1 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 9px;
    text-transform: none;
    margin: 0 9px 5px
    }
.long-quote2 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 9px;
    text-transform: none;
    margin: 0 9px
    }
.notes {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 0 0 0 8px
    }
.notes1 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 5px 0 0 8px
    }
.notes2 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 2px 0 0 8px
    }
.notes3 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 0 0 0 8px
    }
.notes4 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 0
    }
.notes5 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0
    }
.notes6 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 3px 0 0
    }
.notes7 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 2px 0 0 8px
    }
.notes8 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 7px 0 0 8px
    }
.notes9 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 8px 0 0 8px
    }
.notes10 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 5px 0 0 8px
    }
.notes11 {
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 11px 0 0 8px
    }
.notes12 {
    color: black;
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -8px;
    text-transform: none;
    margin: 0 0 0 8px
    }
.paraoverride {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    display: block;
    line-height: 1.2;
    margin: 0.5em 0 0
    }
.scbf {
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold
    }
.scbf1 {
    font-size: 0.58333em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: sub
    }
.scbf2 {
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase
    }
.scbf3 {
    font-size: 0.58333em;
    font-style: normal;
    font-weight: bold;
    vertical-align: sub
    }
.scbf4 {
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal
    }
.scbf5 {
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: uppercase
    }
.secondary-subhead {
    color: #8d2438;
    display: block;
    font-size: 0.79412em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 7px 0 1px
    }
.sidebar {
    color: black;
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 8px;
    text-transform: none;
    margin: 0 6px 0 8px
    }
.sidebar-title {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    background-color: #737373;
    color: white;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 8px 3px;
    padding: 5px
    }
.sidebar-title1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    background-color: #737373;
    color: white;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 8px 7px;
    padding: 5px
    }
.sidebar-title2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    background-color: #737373;
    color: white;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 7px 12px;
    padding: 5px
    }
.sidebar-title3 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    background-color: #737373;
    color: black;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 8px 8px;
    padding: 5px
    }
.sidebar-title4 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    background-color: #737373;
    color: black;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 8px 7px 12px;
    padding: 5px
    }
.sidebar-title5 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    background-color: #737373;
    color: black;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 8px 5px;
    padding: 5px
    }
.sidebar1 {
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 3px 0 6px
    }
.sidebar2 {
    color: black;
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 8px;
    text-transform: none;
    margin: 0 6px 0 8px
    }
.subhead {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 0
    }
.subhead1 {
    display: block;
    font-size: 0.79412em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 0
    }
.subhead2 {
    display: block;
    font-size: 0.79412em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 0
    }
.subhead3 {
    display: block;
    font-size: 0.79412em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 2px 0 1px
    }
.subhead4 {
    display: block;
    font-size: 0.79412em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 1px
    }
.subhead5 {
    display: block;
    font-size: 0.79412em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 0
    }
.table-body {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    display: block;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0
    }
.table-head {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    display: block;
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 2px
    }
.title {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    display: block;
    font-size: 1.41176em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.018;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 1em
    }
.title-columns {
    display: block;
    font-size: 1.41176em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.038;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 0 0 1em
    }
.title-columns1 {
    display: block;
    font-size: 1.41176em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.038;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    margin: 1em 0 0
    }
