.bodypic_ {
    display: block;
    text-align: center;
    margin: 10px 0
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    height: 81px;
    width: 105px
    }
.content {
    display: block;
    line-height: 1.618em;
    text-align: justify;
    text-indent: 2em;
    margin: 0
    }
.content_ {
    display: block;
    line-height: 1.618em;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.content_1 {
    display: block;
    font-weight: bold;
    line-height: 1.618em;
    text-align: justify;
    text-indent: 2em;
    margin: 0
    }
.content_2 {
    display: block;
    font-weight: bold;
    line-height: 1.618em;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.content_3 {
    display: block;
    line-height: 1.618em;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 8em
    }
.content_4 {
    display: block;
    line-height: 1.618em;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 9em
    }
.contents {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 2em;
    text-align: justify
    }
.contents-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    text-align: center;
    border-bottom: #000 dotted 1.5px
    }
.contents1 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 4em;
    text-align: justify
    }
.contents2 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 6em;
    text-align: justify
    }
.contents3 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 8em;
    text-align: justify
    }
.firsttitle {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.8em;
    text-align: center;
    margin: 2em 0 1em
    }
.fourthtitle {
    display: block;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    text-indent: 2em;
    margin: 0.5em 0
    }
.h-pic {
    height: 1.5em;
    vertical-align: middle;
    width: auto;
    margin: 0
    }
.imgtitle {
    display: block;
    font-size: 0.875em;
    letter-spacing: auto;
    line-height: 1.4em;
    text-align: center;
    text-indent: 0;
    margin: 0.5em 0 0
    }
.pic {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center
    }
.pic_ {
    display: block;
    text-align: center;
    margin: 1em 0 0
    }
.secondtitle {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    margin: 2em 0 1em
    }
.secondtitle1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    margin: 2em 0 1em
    }
.sub {
    font-size: 0.75em;
    vertical-align: sub
    }
.sub1 {
    font-size: 0.66667em;
    vertical-align: sub
    }
.sub2 {
    font-size: 0.85714em;
    vertical-align: sub
    }
.super {
    font-size: 0.75em;
    vertical-align: super
    }
.thirdtitle {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.4em;
    text-align: center;
    margin: 1em 0
    }