body/**默认字体为宋体*/
{
    font-family: SimSun;
}
a/**链接样式*/
{
    text-decoration: none
}
.title-page_seriesname/**书名页-丛书名*/
{
    font-weight:bold;
    font-size:1.7em;
    text-align:center;
}
.title-page_bookname/**书名页-书名*/
{
    font-weight:bold;
    font-size:2.0em;
    text-align:center;
    margin: 2em 0em 0em 0em;
}
.title-page_booksubname/**书名页-副书名*/
{
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
    margin: 0.5em 0em 0em 0em;
}
.title-page_author/**书名页-作者*/
{
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
    margin: 1em 0em 0em 0em;
}
.title-page_publish/**书名页-出版社*/
{
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
    margin: 6em 0em 1em 0em;
}
.part/**篇*/
{
    font-weight:bold;
    font-size:2.0em;
    text-align:center;
    margin: 1em 0em 2em 0em;
}

.sect1/**一级标题*/
{
    text-align:center;
    font-size:1.8em;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.sect2/**二级标题*/
{   
    text-align:left;
    text-indent:0em;
    font-size:1.6em;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.sect3/**三级标题*/
{
    text-align:left;
    text-indent:0em;
    font-size:1.4em;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.sect4/**四级标题*/
{
    text-align:left;
    text-indent:0em;
    font-size:1.2em;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.sect5/**五级标题*/
{
    text-align:left;
    text-indent:1em;
    font-size:1.0em;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.sect6/**六级标题*/
{
    text-align:left;
    text-indent:2em;
    font-size:1.0em;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.content/**正文*/
{
    font-size: 1.0em;
    text-align:justify;
    text-justify:inter-ideograph;
    text-indent:2.0em;
    line-height:1.25em;
    margin: 0.5em 0em 0.5em 0em;
}
.content_right/**正文-居右*/
{
    font-size: 1.0em;
    text-align:right;
    text-indent:2.0em;
    line-height:1.25em;
    margin: 0.5em 0em 0.5em 0em;
}
.content_left/**正文-居左*/
{
    font-size: 1.0em;
    text-align:justify;
    text-justify:inter-ideograph;
    text-indent:0em;
    line-height:1.25em;
    margin: 0.5em 0em 0.5em 0em;
}
.content_center/**正文-居中*/
{
    font-size: 1.0em;
    text-align:center;
    line-height:1.25em;
    margin: 0.5em 0em 0.5em 0em;
}
.content_reference/**正文-引用*/
{
    font-size: 0.8em;
    text-align:justify;
    text-justify:inter-ideograph;
    text-indent:2.0em;
    line-height:1.25em;
    padding-left:2.0em;
    padding-right:2.0em;
    margin: 0.5em 0em 0.5em 0em;
}
.content_reference_right/**正文-引用-居右*/
{
    font-size: 0.8em;
    text-align:right;
    text-indent:2.0em;
    line-height:1.25em;
    padding-left:2.0em;
    padding-right:2.0em;
    margin: 0.5em 0em 0.5em 0em;
}
.content_reference_center/**正文-引用-居中*/
{
    font-size: 0.8em;
    text-align:center;
    line-height:1.25em;
    padding-left:2.0em;
    padding-right:2.0em;
    margin: 0.5em 0em 0.5em 0em;
}
.content_reference_left/**正文-引用-居左*/
{
    font-size: 0.8em;
    text-align:justify;
    text-justify:inter-ideograph;
    line-height:1.25em;
    padding-left:2.0em;
    padding-right:2.0em;
    margin: 0.5em 0em 0.5em 0em;
}
.content_poem/**正文-诗词*/
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.0em;
    text-align: left;
    padding-left:4.0em;
    padding-right:4.0em;
}
.content_poem_center/**正文-诗词-居中*/
{
    text-align:center;
    font-size: 1.0em;
    text-align: left;
    padding-left:4.0em;
    padding-right:4.0em;
}
.content_poem_left/**正文-诗词-居左*/
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.0em;
    text-align: left;
    padding-left:4.0em;
    padding-right:4.0em;
}
.content_poem_right/**正文-诗词-居右*/
{
    text-align:right;
    font-size: 1.0em;
    text-align: left;
    padding-left:4.0em;
    padding-right:4.0em;
}
.picture_character/**图片-补字*/
{
    height:1.2em;
    vertical-align:bottom;
}
.picture_line/**图片-行内图*/
{
    vertical-align:middle;
}
.picture_line_figure/**图片-行内插图*/
{
    vertical-align:middle;
}
.picture_line_formula/**图片-行内公式*/
{
    vertical-align:middle;
}
.picture_formula/**图片-公式*/
{
    vertical-align:middle;
    margin-left:2em;
}
.picture/**图片-默认对齐*/
{
    text-align:center;
}
.picture_center/**图片-居中*/
{
    text-align:center;
}
.picture_left/**图片-居左*/
{
    text-align:left;
}
.picture_right/**图片-居右*/
{
    text-align:right;
}
.picture_left_float/**图片-居左-文字环绕*/
{
    float:left;
}
.picture_right_float/**图片-居右-文字环绕*/
{
    float:right;
}
.picture_figure/**图片-插图*/
{
    vertical-align:middle;
}
.picture_figure_note/**图片-插图-注释*/
{
    font-size: 0.8em;
    text-align: center;
    line-height:1.25em;
}
.picture_figure_title/**图片-插图-图号图题*/
{
    font-size: 0.8em;
    text-align: center;
    line-height:1.25em;
}
.picture_table/**图片-表格*/
{
    vertical-align:middle;
    margin-left:2em;
}
.picture_table_note/**图片-表格-注释*/
{
    font-size: 0.8em;
    text-align: left;
    line-height:1.25em;
}
.picture_table_title/**图片-表格-图号图题*/
{
    font-size: 0.8em;
    text-align: center;
    line-height:1.25em;
}
.footnote_quote/**脚注-引用*/
{
    font-size: 0.6em;
    vertical-align:super;
}
.footnote_content/**脚注-内容*/
{
    font-size: 0.8em;
}
.endnote_quote/**尾注-引用*/
{
    font-size: 0.6em;
    vertical-align:super;
}
.endnote_content/**尾注-内容*/
{
    font-size: 0.8em;
}
/**文字样式*/
.superscript/**上标*/
{
    font-size: 0.6em;
    vertical-align:super;
}
.subscript/**下标*/
{
    font-size: 0.6em;
    vertical-align:sub;
}
.emphasis_italic/**斜体*/
{
    font-style:italic;
}
.emphasis_bold/**加粗*/
{
    font-weight:bold;
}
.emphasis_underlined/**下划线*/
{
    text-decoration:underline;
}
.emphasis_delete_line/**删除线*/
{
    text-decoration:line-through;
}
/**目录样式*/
.toc_part
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.2em;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.toc_sect1
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.2em;
}
.toc_sect2
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.0em;
    padding-left:1.0em;
    padding-right:1.0em;
}
.toc_sect3
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.0em;
    padding-left:2.0em;
    padding-right:2.0em;
}
.toc_sect4
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.0em;
    padding-left:3.0em;
    padding-right:3.0em;
}
.toc_sect5
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.0em;
    padding-left:4.0em;
    padding-right:4.0em;
}
.toc_sect6
{
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 1.0em;
    padding-left:5.0em;
    padding-right:5.0em;
}