.block_ {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_1 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_2 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_3 {
    display: block;
    font-size: 0.83333em;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_4 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_6 {
    display: block;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_7 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_8 {
    display: block;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_9 {
    display: block;
    font-weight: bold;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_10 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_11 {
    display: block;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_12 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_13 {
    display: block;
    font-size: 0.625em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_14 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: center;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_15 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_16 {
    display: block;
    font-size: 0.625em;
    font-weight: bold;
    text-align: center;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_17 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_18 {
    display: block;
    font-size: 0.625em;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_19 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_20 {
    display: block;
    text-align: center;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_21 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_22 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_23 {
    display: block;
    font-size: 1em;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_24 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_25 {
    display: block;
    font-size: 0.625em;
    font-weight: bold;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_26 {
    display: block;
    font-size: 0.625em;
    font-weight: bold;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.block_27 {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_28 {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_29 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 19pt;
    margin: 0;
    padding: 0
    }
.calibre {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    height: 240pt;
    width: 220pt
    }
.calibre3 {
    display: block
    }
.calibre4 {
    text-decoration: none
    }
.calibre5 {
    white-space: pre-wrap
    }
.calibre6 {
    height: 200pt;
    width: 259pt
    }
.calibre7 {
    height: 286pt;
    width: 451pt
    }
.calibre8 {
    height: 263pt;
    width: 451pt
    }
.calibre9 {
    height: 258pt;
    width: 451pt
    }
.calibre10 {
    height: 256pt;
    width: 451pt
    }
.calibre11 {
    height: 255pt;
    width: 451pt
    }
.calibre12 {
    height: 247pt;
    line-height: 1.2;
    width: 331pt
    }
.calibre13 {
    height: 166pt;
    width: 378pt
    }
.calibre14 {
    font-weight: bold
    }
.calibre15 {
    height: 207pt;
    width: 280pt
    }
.calibre16 {
    height: 221pt;
    line-height: 1.2;
    width: 304pt
    }
.calibre17 {
    height: 93pt;
    line-height: 1.2;
    width: 172pt
    }
.calibre18 {
    height: 231pt;
    width: 304pt
    }
.calibre19 {
    height: 221pt;
    width: 307pt
    }
.calibre20 {
    height: 101pt;
    width: 182pt
    }
.calibre21 {
    height: 221pt;
    width: 278pt
    }
.calibre22 {
    height: 223pt;
    width: 281pt
    }
.calibre23 {
    height: 101pt;
    width: 229pt
    }
.calibre24 {
    height: 221pt;
    line-height: 1.2;
    width: 278pt
    }
.calibre25 {
    height: 125pt;
    line-height: 1.2;
    width: 446pt
    }
.calibre26 {
    height: 170pt;
    width: 248pt
    }
.calibre27 {
    height: 221pt;
    line-height: 1.2;
    width: 254pt
    }
.calibre28 {
    height: 172pt;
    line-height: 1.2;
    width: 269pt
    }
.calibre29 {
    height: 221pt;
    line-height: 1.2;
    width: 160pt
    }
.calibre30 {
    height: 221pt;
    width: 162pt
    }
.calibre31 {
    height: 172pt;
    width: 269pt
    }
.calibre32 {
    height: 221pt;
    width: 192pt
    }
.calibre33 {
    height: 221pt;
    width: 223pt
    }
.calibre34 {
    height: 221pt;
    width: 254pt
    }
.calibre35 {
    height: 221pt;
    width: 304pt
    }
.calibre36 {
    height: 221pt;
    width: 268pt
    }
.calibre37 {
    height: 90pt;
    width: 131pt
    }
.calibre38 {
    height: 203pt;
    width: 330pt
    }
.calibre39 {
    height: 175pt;
    width: 375pt
    }
.calibre40 {
    height: 195pt;
    width: 370pt
    }
.calibre41 {
    height: 201pt;
    width: 444pt
    }
.calibre42 {
    height: 166pt;
    width: 228pt
    }
.calibre43 {
    height: 134pt;
    width: 380pt
    }
.calibre44 {
    height: 253pt;
    width: 308pt
    }
.calibre45 {
    height: 259pt;
    width: 319pt
    }
.calibre46 {
    height: 189pt;
    width: 268pt
    }
.calibre47 {
    height: 256pt;
    width: 327pt
    }
.calibre48 {
    height: 203pt;
    line-height: 1.2;
    width: 451pt
    }
.calibre49 {
    height: 268pt;
    width: 348pt
    }
.calibre50 {
    height: 239pt;
    width: 242pt
    }
.calibre51 {
    height: 280pt;
    width: 433pt
    }
.calibre52 {
    height: 216pt;
    width: 287pt
    }
.calibre53 {
    height: 161pt;
    width: 354pt
    }
.calibre54 {
    height: 340pt;
    width: 451pt
    }
.calibre55 {
    height: 276pt;
    width: 381pt
    }
.calibre56 {
    height: 166pt;
    width: 402pt
    }
.calibre57 {
    height: 257pt;
    width: 341pt
    }
.calibre58 {
    height: 245pt;
    width: 271pt
    }
.calibre59 {
    height: 146pt;
    line-height: 1.2;
    width: 180pt
    }
.calibre60 {
    height: 220pt;
    width: 451pt
    }
.calibre61 {
    height: 539pt;
    width: 391pt
    }
.calibre62 {
    height: 249pt;
    width: 294pt
    }
.calibre63 {
    height: 129pt;
    width: 190pt
    }
.calibre64 {
    height: 308pt;
    line-height: 1.2;
    width: 314pt
    }
.calibre65 {
    height: 605pt;
    width: 432pt
    }
.calibre66 {
    height: 281pt;
    width: 451pt
    }
.calibre67 {
    height: 166pt;
    width: 197pt
    }
.calibre68 {
    height: 173pt;
    width: 259pt
    }
.calibre69 {
    height: 259pt;
    width: 451pt
    }
.calibre70 {
    height: 624pt;
    width: 240pt
    }
.calibre71 {
    height: 99.9pt;
    width: 451pt
    }
.calibre72 {
    font-style: italic
    }
.calibre73 {
    height: 628pt;
    width: 411pt
    }
.calibre74 {
    height: 279pt;
    width: 361pt
    }
.calibre75 {
    height: 624pt;
    width: 388pt
    }
.calibre76 {
    height: 212pt;
    width: 194pt
    }
.calibre77 {
    height: 261pt;
    width: 287pt
    }
.calibre78 {
    height: 223pt;
    width: 451pt
    }
.calibre79 {
    height: 240pt;
    width: 414pt
    }
.calibre80 {
    height: 266pt;
    width: 446pt
    }
.calibre81 {
    height: 662pt;
    width: 360pt
    }
.calibre82 {
    height: 14.9pt;
    width: 101pt
    }
.calibre83 {
    height: 14.2pt;
    width: 181pt
    }
.calibre84 {
    height: 12.9pt;
    width: 88.3pt
    }
.calibre85 {
    height: 31.9pt;
    width: 116pt
    }
.calibre86 {
    height: 31.9pt;
    width: 222pt
    }
.calibre87 {
    height: 14.9pt;
    width: 84.2pt
    }
.calibre88 {
    height: 252pt;
    width: 451pt
    }
.calibre89 {
    height: 233pt;
    width: 451pt
    }
.calibre90 {
    height: 340pt;
    width: 223pt
    }
.calibre91 {
    height: 372pt;
    width: 226pt
    }
.calibre92 {
    height: 372pt;
    width: 303pt
    }
.calibre93 {
    height: 562pt;
    width: 376pt
    }
.calibre94 {
    height: 351pt;
    width: 196pt
    }
.calibre95 {
    height: 487pt;
    width: 274pt
    }
.calibre96 {
    height: 438pt;
    width: 242pt
    }
.calibre97 {
    height: 472pt;
    width: 450pt
    }
.calibre98 {
    height: 195pt;
    width: 314pt
    }
.calibre99 {
    height: 406pt;
    width: 382pt
    }
.calibre100 {
    height: 338pt;
    width: 451pt
    }
.calibre101 {
    height: 467pt;
    width: 450pt
    }
.calibre102 {
    height: 328pt;
    width: 451pt
    }
.calibre103 {
    height: 170pt;
    width: 223pt
    }
.calibre104 {
    height: 279pt;
    width: 451pt
    }
.calibre105 {
    height: 143pt;
    width: 274pt
    }
.calibre106 {
    height: 302pt;
    width: 224pt
    }
.calibre107 {
    height: 391pt;
    width: 225pt
    }
.calibre108 {
    height: 105pt;
    width: 287pt
    }
.calibre109 {
    height: 223pt;
    width: 122pt
    }
.calibre110 {
    height: 375pt;
    width: 179pt
    }
.calibre111 {
    height: 259pt;
    width: 218pt
    }
.calibre112 {
    height: 333pt;
    width: 171pt
    }
.calibre113 {
    height: 164pt;
    width: 160pt
    }
.calibre114 {
    height: 166pt;
    width: 416pt
    }
.calibre115 {
    height: 163pt;
    width: 355pt
    }
.calibre116 {
    height: 151pt;
    width: 204pt
    }
.calibre117 {
    height: 163pt;
    width: 451pt
    }
.calibre118 {
    height: 206pt;
    width: 210pt
    }
.calibre119 {
    height: 140pt;
    width: 451pt
    }
.calibre120 {
    height: 418pt;
    line-height: 1.2;
    width: 362pt
    }
.calibre121 {
    height: 166pt;
    line-height: 1.2;
    width: 309pt
    }
.calibre122 {
    height: 245pt;
    width: 215pt
    }
.calibre123 {
    height: 239pt;
    width: 211pt
    }
.calibre124 {
    height: 242pt;
    width: 210pt
    }
.calibre125 {
    height: 160pt;
    width: 434pt
    }
.calibre126 {
    height: 170pt;
    width: 187pt
    }
.calibre127 {
    height: 221pt;
    width: 131pt
    }
.calibre128 {
    height: 352pt;
    width: 225pt
    }
.calibre129 {
    height: 215pt;
    width: 300pt
    }
.calibre130 {
    height: 95.8pt;
    width: 194pt
    }
.calibre131 {
    height: 99.8pt;
    width: 202pt
    }
.calibre132 {
    height: 276pt;
    width: 378pt
    }
.calibre133 {
    height: 156pt;
    width: 378pt
    }
.calibre134 {
    height: 154pt;
    width: 378pt
    }
.calibre135 {
    height: 175pt;
    width: 378pt
    }
.calibre136 {
    height: 311pt;
    width: 378pt
    }
.calibre137 {
    height: 280pt;
    width: 378pt
    }
.text_ {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.2
    }
.text_1 {
    font-size: 1.55em;
    font-weight: bold;
    line-height: 1.2
    }
.text_2 {
    font-size: 1.2em;
    font-weight: bold
    }
.text_3 {
    color: #00F;
    text-decoration: underline
    }
.text_4 {
    color: #00F;
    font-style: italic;
    text-decoration: underline
    }
.text_5 {
    font-style: italic;
    font-weight: bold
    }
