.calibre {
    display: block;
    font-size: 1em;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0
    }
.calibre2 {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none
    }
.calibre4 {
    color: #4183c4;
    font-size: 1em;
    line-height: 28px;
    text-decoration: none
    }
.calibre5 {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre6 {
    display: block;
    font-size: 1em;
    text-align: center;
    margin: 0 5pt;
    padding: 0
    }
.copyright-text {
    display: block;
    margin: 1em 0
    }
.copyright-title {
    display: block;
    font-weight: bold;
    margin: 1.33em 0
    }
.h5_mainbody_bg {
    background-color: #fff;
    background-image: url(https://book.img.zhangyue01.com/group62/GP/hm/49cd9054741a3a0df901fbbe996b6589.jpg?v=Vlc0vBzn&t=fwAAAWbYSrM.);
    background-position: center center;
    display: block
    }
.otherlink {
    display: none
    }
.poem-center-only {
    display: block;
    margin: 30% 0 1em
    }
.read_c {
    display: block
    }
.text-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.text-title1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.text-title2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.zhangyue-footnote {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.zhangyue-img {
    height: auto;
    width: auto
    }
