@namespace h "http://www.w3.org/1999/xhtml";
.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre10 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre100 {
    height: auto;
    width: 515px
    }
.calibre101 {
    height: auto;
    width: 367px
    }
.calibre102 {
    height: auto;
    width: 503px
    }
.calibre103 {
    height: auto;
    width: 395px
    }
.calibre104 {
    height: auto;
    width: 448px
    }
.calibre105 {
    height: auto;
    width: 465px
    }
.calibre106 {
    height: auto;
    width: auto
    }
.calibre11 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre12 {
    line-height: 1.2
    }
.calibre13 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em
    }
.calibre14 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre16 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre17 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre18 {
    display: list-item
    }
.calibre19 {
    display: block
    }
.calibre2 {
    font-size: 0.64583em;
    line-height: 1.2
    }
.calibre20 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre21 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre22 {
    font-size: 0.775em;
    line-height: 1.2
    }
.calibre23 {
    display: block
    }
.calibre24 {
    font-size: 0.625em
    }
.calibre25 {
    display: block;
    font-size: 2.06667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre26 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre27 {
    font-size: 0.75em
    }
.calibre28 {
    display: table-column-group
    }
.calibre29 {
    display: table-column
    }
.calibre3 {
    display: block;
    text-align: left
    }
.calibre30 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre31 {
    display: table-row;
    vertical-align: inherit
    }
.calibre32 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre33 {
    font-size: 1em
    }
.calibre34 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre35 {
    font-family: monospace
    }
.calibre36 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre37 {
    font-size: 0.58065em
    }
.calibre38 {
    height: auto;
    width: 86px
    }
.calibre39 {
    height: auto;
    width: 550px
    }
.calibre4 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.calibre40 {
    height: 329px;
    width: auto
    }
.calibre41 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre42 {
    height: 129px;
    width: auto
    }
.calibre43 {
    font-size: 1.2em
    }
.calibre44 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre45 {
    font-weight: bolder
    }
.calibre46 {
    height: 212px;
    width: auto
    }
.calibre47 {
    height: 226px;
    width: auto
    }
.calibre48 {
    height: auto;
    width: 332px
    }
.calibre49 {
    height: 320px;
    width: auto
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre50 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre51 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    vertical-align: inherit
    }
.calibre52 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.calibre53 {
    height: 355px;
    width: auto
    }
.calibre54 {
    height: 279px;
    width: auto
    }
.calibre55 {
    height: 262px;
    width: auto
    }
.calibre56 {
    height: auto;
    width: 383px
    }
.calibre57 {
    font-size: 1.72222em;
    line-height: 1.2
    }
.calibre58 {
    font-size: 2.06667em;
    line-height: 1.2
    }
.calibre59 {
    height: 108px;
    width: auto
    }
.calibre6 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre60 {
    height: 222px;
    width: auto
    }
.calibre61 {
    height: 263px;
    width: auto
    }
.calibre62 {
    height: 314px;
    width: auto
    }
.calibre63 {
    display: table-footer-group;
    vertical-align: middle
    }
.calibre64 {
    height: 144px;
    width: auto
    }
.calibre65 {
    height: 224px;
    width: auto
    }
.calibre66 {
    height: 185px;
    width: auto
    }
.calibre67 {
    height: 206px;
    width: auto
    }
.calibre68 {
    height: 327px;
    width: auto
    }
.calibre69 {
    height: 178px;
    width: auto
    }
.calibre7 {
    color: inherit;
    cursor: inherit;
    line-height: 1.2;
    text-decoration: inherit
    }
.calibre70 {
    font-size: 1.2em;
    line-height: normal;
    vertical-align: super
    }
.calibre71 {
    height: 207px;
    width: auto
    }
.calibre72 {
    height: 208px;
    width: auto
    }
.calibre73 {
    height: auto;
    width: 398px
    }
.calibre74 {
    height: 230px;
    width: auto
    }
.calibre75 {
    height: 186px;
    width: auto
    }
.calibre76 {
    height: 324px;
    width: auto
    }
.calibre77 {
    height: auto;
    width: 281px
    }
.calibre78 {
    height: 333px;
    width: auto
    }
.calibre79 {
    height: 264px;
    width: auto
    }
.calibre8 {
    display: block;
    text-align: center
    }
.calibre80 {
    height: 220px;
    width: auto
    }
.calibre81 {
    height: 216px;
    width: auto
    }
.calibre82 {
    height: 164px;
    width: auto
    }
.calibre83 {
    height: 177px;
    width: auto
    }
.calibre84 {
    height: auto;
    width: 489px
    }
.calibre85 {
    height: 131px;
    width: auto
    }
.calibre86 {
    height: 240px;
    width: auto
    }
.calibre87 {
    height: 241px;
    width: auto
    }
.calibre88 {
    height: 118px;
    width: auto
    }
.calibre89 {
    height: 238px;
    width: auto
    }
.calibre9 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre90 {
    height: 237px;
    width: auto
    }
.calibre91 {
    height: auto;
    width: 265px
    }
.calibre92 {
    display: table-column;
    text-align: left;
    text-indent: 1%
    }
.calibre93 {
    height: 141px;
    width: auto
    }
.calibre94 {
    height: 219px;
    width: auto
    }
.calibre95 {
    height: auto;
    width: 537px
    }
.calibre96 {
    height: 189px;
    width: auto
    }
.calibre97 {
    height: auto;
    width: 553px
    }
.calibre98 {
    height: auto;
    width: 364px
    }
.calibre99 {
    height: auto;
    width: 425px
    }
.italic {
    font-style: italic
    }
.italic1 {
    font-style: italic;
    line-height: 1.2
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }