@charset "UTF-8";
/* -------------------------------------------------------------------------------
  for horizontal-tb
 ------------------------------------------------------------------------------ */
html {
  -webkit-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
  writing-mode:horizontal-tb;
}
/* -----------------------------------------------------------------------------
  [Type Selector]
 ---------------------------------------------------------------------------- */
body {
  line-height: 1.6;
  
}
/* headings */
h1,h2,h3,h4,h5,h6 {
  
}
/* -----------------------------------------------------------------------------
  [Class Selector]
 ---------------------------------------------------------------------------- */
/* body */
body.titlepage {
}
body.tocpage {
}
body.chapter_page {
}
body.body_text {
}
body.sectional_ttl {
}
body.colophonpage {
}
body.body_left {
  text-align:left;
}
body.pbr {
  text-align:center;
  font-size:90%;
}
/* headings */
h1.ttl {
  
}
h1.tobira {
  
  text-align:center;
}
h1.chapter {
  
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h2.subchapter {
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-indent:-1em;
}
h1.tocttl {
  letter-spacing: 1em;
  padding-left:2em;
  padding-bottom:0.5em;
}
h1.tocttl-en {
  padding-left:2em;
  padding-bottom:0.5em;
}
h3.sectionttl {
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h4.subsection {
  padding-left:2.5em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h5.topic {
  padding-left:3em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h1.smplchapt {
  
}
/* image */
img.block {
   
}
img.block75 {
  display:block;
   
  padding-top:1em;
  padding-right:1em;
  padding-left:1em;
}
img.block60 {
  display:block;
   
  padding-top:1em;
  padding-right:1em;
  padding-left:1em;
}
img.inline {
   
}
img.block-center {
  display:block;
   
   
  margin:auto;
}
img.block8 {
  display:block;
  width:8em;
  margin:auto;
  margin-top:0.5em;
}
img.prdbyrmcr {
/* Powerd by Romancer */
  display:inline;
  width:auto;
  height:auto;
    
}
/* text decoration */
.underline {
  text-decoration:underline;
  text-underline-position: under left;
  -webkit-text-underline-position:under left;
}
.gothic {
  
}
.mincho {
  
}
.character {
  
  font-size:90%;
}
.photocap {
  padding-top:1em;
}
.col_start_1em {
  padding-left:1em;
}
.col_start_5em {
  padding-left:5em;
}
.col_latin {
  
}
/* indent */
.asterisk_start {
  text-align: center;
}


.level1 {
  padding-left:0;
}
.level2 {
  padding-left:1em;
}
.level3 {
  padding-left:2em;
}
.toclevel1 {
  padding-left:0;
  padding-top:0.8em;
}
.toclevel1only {
  padding-left:0;
}
.toclevel2 {
  padding-left:1em;
}
.toclevel3 {
  padding-left:2em;
}
.toclevel4 {
  padding-left:3em;
}
.toclevel5 {
  padding-left:4em;
}
.toclt2 {
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  font-size:90%;
}
.toclt3 {
  padding-left: 2.5em;
  padding-bottom: 0.5em;
  font-size:90%;
}
.toclt4 {
  padding-left: 3em;
  padding-bottom: 0.5em;
  font-size:90%;
}
.toclt5 {
  padding-left: 3.5em;
  padding-bottom: 0.5em;
  font-size:90%;
}
.gaiji {
  vertical-align: text-bottom;
}
.footnote {
  padding-left:3em;
  text-indent:-2em;
  font-size:90%;
  padding-top:0.5em;
  padding-bottom:1em;
}
div.chapt {
  margin-top:2em;
}
p.narrow {
    line-height: 1;
}
.mystyle_character-10 {
  
  font-size:110%;
}
.mystyle_character-20 {
  
  font-weight:bold;
}
.mystyle_d_para_list {
  padding-left:1em;
  text-indent:-1em;
}
.mystyle_heading {
  }
.mystyle_heading-1 {
  
  font-size:110%;
}
.mystyle_heading-2 {
  
  font-weight:bold;
  padding-left:1em;
}
.mystyle_padding-start_1em {
  padding-left:1em;
}
.mystyle_padding-start_2em {
  padding-left:2em;
}
.mystyle_padding-start_2em_text-indent_-1em {
  padding-left:2em;
  text-indent:-1em;
}
.mystyle_padding-start_3em_text-indent_-1em {
  padding-left:3em;
  text-indent:-1em;
}
.mystyle_text-indent_1em {
  text-indent:1em;
}

