.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin: 1em 0
    }
.calibre3 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre4 {
    display: block
    }
.calibre5 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.none {
    font-size: 1.29167em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none
    }
.none1 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.none2 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none3 {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.s {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center
    }
.s1 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left
    }
.s2 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-indent: 22pt
    }
.s3 {
    display: block;
    font-style: italic;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    text-align: left
    }
.s4 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 22pt
    }
.s5 {
    display: block;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    text-align: left
    }
.s6 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 21pt
    }
.s7 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 198.55pt
    }
.s8 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 198.75pt
    }
.s9 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 209.15pt
    }
.s10 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 177.15pt
    }
.s11 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 182.65pt
    }
.s12 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 16.5pt
    }
.s13 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 145.55pt
    }
.s14 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 172.05pt
    }
.s15 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 4pt
    }
.s16 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 145.35pt
    }
.s17 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 177.35pt
    }
.s18 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 21.75pt
    }
.s19 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 21.55pt
    }
.s20 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 187.95pt
    }
.s21 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 161.45pt
    }
